---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% include "components/breaking-news.njk" %}
{% include "components/about-blackcoin.njk" %}
{% include "components/social-media.njk" %}
{% include "components/exchange-list.njk" %}
{% include "components/downloads.njk" %}
{% include "components/donations.njk" %}
{% include "components/social-links.njk" %}