<div style="width:100%; max-width:960px; margin:0 auto; padding:0 20px 50px 20px; box-sizing:border-box;">
  <div class="breakingNews" id="bn7">
    <div class="bn-title">
      <h2>{{ 'latest_news' | i18n }}</h2>
    </div>
    <ul>
      <li>
        <h3 class="bn-h3">
          <a href="https://blackcoinmore.org">
            <span>Feb 24,&nbsp;2021</span>
            <span style="color: #ddb77a;"> - Blackcoin More v2.13.2.8 released. Trade $BLK with Atomic Swaps!</span>
          </a>
        </h3>
      </li>
      <li>
        <h3 class="bn-h3">
          <a href="https://blackcoinmore.org">
            <span>Nov 24,&nbsp;2020</span>
            <span style="color: #ddb77a;"> - Blackcoin More v2.13.2.7 released. Improve dust handling.</span>
          </a>
        </h3>
      </li>
      <li>
        <h3 class="bn-h3">
          <a href="https://www.bitladon.com/blackcoin">
            <span>Apr 24,&nbsp;2020</span>
            <span style="color: #ddb77a;"> - Blackcoin trading on Bitladon.com</span>
          </a>
        </h3>
      </li>
      <li>
        <h3 class="bn-h3">
          <a href="https://abra.com">
            <span>Jan 6,&nbsp;2020</span>
            <span style="color: #ddb77a;"> - Blackcoin added on Abra multicoin wallet!</span>
          </a>
        </h3>
      </li>
      <li>
        <h3 class="bn-h3">
          <a href="https://twitter.com/BlackcoinOrg/status/1303341386348089346">
            <span>Sep 08,&nbsp;2020</span>
            <span style="color: #ddb77a;"> - Blackcoin and Radium Core Strategic Alliance Announcement!</span>
          </a>
        </h3>
      </li>
      <li>
        <h3 class="bn-h3">
          <a href="https://blackcoinmore.org">
            <span>Jul 21,&nbsp;2020</span>
            <span style="color: #ddb77a;"> - Blackcoin More wallet update v2.13.2.6 - Major Memleak Bugfix </span>
          </a>
        </h3>
      </li>
    </ul>
  </div>
</div>