<!-- ========== Downloads ========== -->

<div class="gray-bg">
  <header class="sec-heading">
      <h2 class="golden" id="downloads">{{ 'downloads' | i18n }}</h2>
    <span class="subheading">{{ 'official_files' | i18n }}</span>
  </header>
  <section id="services" class="container section ft-boxed-hover">
        <ul class="col-row">
          <!-- Item 1 -->
          <li>
            <div class="hover-label">
              {% image "./src/assets/images/more.png", "Blackcoin More Logo" %}
            </div>
            <h3>{{ 'more_wallet' | i18n }}</h3>
            <div class="hover-content">
              <a alt="Blackcoin More Website" href="https://blackcoinmore.org" >{% image "./src/assets/images/logo-more-bw-sm.png", "Blackcoin More" %}</a>
              <p><span style="color: #aaa;">{{ 'blackcoin_more' | i18n }} v2.13.2.8</span></p>
              <p class="pd-15px">{{ 'community_supported' | i18n }}</p>
            </div><!-- / .hover-content -->
          </li>
          <!-- Item 2 -->
          <li>
            <div class="hover-label">
              {% image "./src/assets/images/mwallets.png", "Mobile Wallets" %}
            </div>
            <h3>{{ 'mobile_wallets' | i18n }}</h3>
            <div class="hover-content">
              <a href="https://coinomi.com/"><span>{% image "./src/assets/images/coinomi.png", "Coinomi Multicoin Wallet" %} </span></a>
              <a href="https://abra.com/"><span>{% image "./src/assets/images/svg/abra-logo-white.svg", "Abra Multicoin Wallet"  %} </span></a>
            </div><!-- / .hover-content -->
          </li>

          <!-- Item 3 -->
          <li>
            <div class="hover-label">
              {% image "./src/assets/images/blackhalo2.png", "Blackhalo Logo" %}
            </div>
            <h3>{{ 'blackhalo' | i18n }}</h3>
            <div class="hover-content">
              <p><span style="color: #aaa;">{{ 'blackhalo' | i18n }}</span></p>
              <a href="https://blackhalo.info/#section-call-to-actiontwo">{% image "./src/assets/images/blackhalo2.png", "BlackHalo Logo" %}</a>
            </div><!-- / .hover-content -->
          </li>
          <!-- Item 4 -->
          <li>
            <div class="hover-label">
              {% image "./src/assets/images/original.png", "Blackcoin Logo" %}
            </div>
            <h3>{{ 'legacy_wallet' | i18n }}</h3>
            <div class="hover-content">
              <p><span style="color: #aaa;">{{ 'legacy_wallet' | i18n }} v1.2.x </span></p>
              <a href="https://gitlab.com/blackcoin/blackcoin/-/blob/master/README.md"><span>{{ 'legacy_gitlab' | i18n }}</span></span></a>
            </div><!-- / .hover-content -->
          </li>
        </ul>
  </section><!-- / .cotnainer -->
</div><!-- / .gray-bg -->
