<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackcoin.org</title>
    <meta name="description" content="Website for Blackcoin.org">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" type="image/png" sizes="100x100" href="favicon.png">

    <!-- Gitter -->
    <style type="text/css">
     .gitter-open-chat-button {
        background-color: #262626 !important;
        color: #ffffff;
      }
    </style> 
  </head>
  
    <!-- ========== Preloader ========== -->
  <div class="preloader">
    <img rel="preload" src="assets/images/loader.svg" alt="Loading...">
  </div>
  
  <body style="margin: 0;">

    {% include "base-navbar.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>

    {% include "base-footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
