  <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'BlackCoin_Hub/General'
    };
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

  <script type="module">
    ((window.gitter = {}).chat = {}).options = {
      room: "BlackCoin_Hub/General"
    };
  </script>