  <style id="custom styles" type="text/css">
    .gitter-open-chat-button,
    .gitter-chat-embed {
      z-index: 9999;
    }

    .gitter-open-chat-button {
      background-color: #262626;
      color: #ffffff;
      right: 60px;
    }

    .gitter-open-chat-button:hover {
      box-sizing: border-box;
      background-color: #1a1a1a;
      color: #fff
    }

    a {
      color: #ddb77a;
      text-decoration: none !important;
    }

    a:hover {
      color: #ccc !important;
    }

    a:focus {
      color: #ccc !important;
    }
  </style>

  <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'BlackCoin_Hub/General'
    };
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

  <script type="module">
    ((window.gitter = {}).chat = {}).options = {
      room: "BlackCoin_Hub/General"
    };
  </script>