<section class="container section ft-x">
  <div class="row">
    <header class="sec-heading">
        <h2 class="golden" id="about">About BlackCoin</h2>
    </header>
    <!-- Feature 1 -->
    <div class="col-lg-4 mb-sm-100 wow fadeInLeft" data-wow-duration=".8s">
      <!-- Ft Icon 1 (left) -->
      <div class="col-md-12 no-gap ft-item ft-material right-align">
        <div class="ft-content">
          <h3>PROOF OF STAKE 3.0</h3>
          <p> Users who keep their wallet open to secure the network via staking will get from 1% to 8% rewards per
            year (varies according to network weight). <a href="https://blackcoin.org/faq/">Read More...</a></p>
        </div>
        <div class="ft-icon">
          <i class="fa fa-star-o"></i>
        </div>
      </div><!-- / .ft-item -->
      <br>

      <!-- Ft Icon 2 (left) -->
      <div class="col-md-12 no-gap ft-item ft-material right-align">
        <div class="ft-content">
          <h3>ECO-FRIENDLY</h3>
          <p>Based on Proof-of-Stake. No more power hungry mining hardware.</p>
        </div>
        <div class="ft-icon">
          <i class="fa fa-tree"></i>
        </div>
      </div><!-- / .ft-item -->
      <br><br>

      <!-- Ft Icon 3 (left) -->
      <div class="col-md-12 no-gap ft-item ft-material right-align">
        <div class="ft-content">
          <h3>TRANSPARENT LEDGER</h3>
          <p>Everyone shares the ledger history, so it's entirely transparent.</p>
        </div>
        <div class="ft-icon">
          <i class="fa fa-user"></i>
        </div>
      </div><!-- / .ft-item -->
    </div><!-- / .col-lg-4 -->
    <!-- Center Image -->
    <div class="col-lg-4 blkb" >
      {% image "./src/assets/images/blkb.png", "Blackcoin B" %}
    </div>
    <!-- Features Left -->
    <div class="col-lg-4 wow fadeInRight" data-wow-duration=".8s">
      <!-- Ft Icon 4 (right) -->
      <div class="col-md-12 no-gap ft-item ft-material right-align">
        <i class="fa fa-code"></i>
        <h3>OPEN SOURCE</h3>
        <p>The software (wallet) is open source, so its safety can be audited.</p>
      </div><!-- / .ft-item -->
      <br><br><br>

      <!-- Ft Icon 5 (right) -->
      <div class="col-md-12 no-gap ft-item ft-material right-align">
        <i class="fa fa-flash"></i>
        <h3>FAST</h3>
        <p>It is extremely fast, you can send money to anyone in the world within seconds.</p>
      </div><!-- / .ft-item -->
      <br><br><br>

      <!-- Ft Icon 6 (right) -->
      <div class="col-md-12 no-gap ft-item ft-material right-align">
        <i class="fa fa-eye"></i>
        <h3>ANONYMOUS</h3>
        <p>Anyone can run the wallet and transact with the same anonymity as Bitcoin. No personal identifying
          information is required.</p>
      </div><!-- / .ft-item -->
    </div><!-- / .col-lg-4 -->
  </div><!-- / .row -->
</section><!-- / .container -->