<section class="container section ft-x">
  <div class="row">
    <header class="sec-heading">
        <h2 class="golden" id="about">{{ 'about_blackcoin' | i18n }}</h2>
    </header>
    <!-- Feature 1 -->
    <div class="wow fadeInLeft" data-wow-duration=".8s">
      <!-- Ft Icon 1 (left) -->
      <div class="no-gap ft-item ft-material right-align">
        <div class="ft-content">
          <h3>{{ 'proof_of_stake_v3' | i18n }}</h3>
          <p> {{ 'users_who_stake' | i18n }} <a href="https://blackcoin.org/faq/">{{ 'read_more' | i18n }}</a></p>
        </div>
        <div class="ft-icon">
          <i class="icon">🔥</i>
        </div>
      </div><!-- / .ft-item -->
      <br>

      <!-- Ft Icon 2 (left) -->
      <div class="no-gap ft-item ft-material right-align">
        <div class="ft-content">
          <h3>{{ 'eco_friendly' | i18n }}</h3>
          <p>{{ 'no_mining' | i18n }}</p>
        </div>
        <div class="ft-icon">
          <i class="icon">🌲</i>
        </div>
      </div><!-- / .ft-item -->
      <br><br>

      <!-- Ft Icon 3 (left) -->
      <div class="no-gap ft-item ft-material right-align">
        <div class="ft-content">
          <h3>{{ 'transparent_ledger' | i18n }}</h3>
          <p>{{ 'entirely_transparent' | i18n }}</p>
        </div>
        <div class="ft-icon">
          <i class="icon">📄</i>
        </div>
      </div><!-- / .ft-item -->
    </div><!-- / .-->
    <!-- Center Image -->
    <div class="blkb" >
      {% image "./src/assets/images/blkb.png", "Blackcoin B" %}
    </div>
    <!-- Features Left -->
    <div class="wow fadeInRight" data-wow-duration=".8s">
      <!-- Ft Icon 4 (right) -->
      <div class="no-gap ft-item ft-material right-align">
        <i class="icon">🆓</i>
        <h3>{{ 'open_source' | i18n }}</h3>
        <p>{{ 'can_be_audited' | i18n }}</p>
      </div><!-- / .ft-item -->
      <br><br><br>

      <!-- Ft Icon 5 (right) -->
      <div class="no-gap ft-item ft-material right-align">
        <i class="icon">⚡</i>
        <h3>{{ 'fast' | i18n }}</h3>
        <p>{{ 'to_anyone_in_seconds' | i18n }}</p>
      </div><!-- / .ft-item -->
      <br><br><br>

      <!-- Ft Icon 6 (right) -->
      <div class="no-gap ft-item ft-material right-align">
        <i class="icon">👁️</i>
        <h3>{{ 'anonymous' | i18n }}</h3>
        <p>{{ 'no_identifying_information' | i18n }}</p>
      </div><!-- / .ft-item -->
    </div><!-- / .-->
  </div><!-- / .row -->
</section><!-- / .container -->