  <!-- ====== Support BlackCoin ========== -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <center>
            <h3 id="support"><span style="color: #ffffff;">Support BlackCoin</span></h3>
        </center>

        <center>
          <h4 class="golden">
            <!--<a href="bounties/">Bounties</a><span style="color: #A0A0A0;">&emsp; | &emsp;</span>-->
            <a id="donation-link" alt="Link to Donations Page" href="donations/">Donations</a>
          </h4>
          <center>
          </center>
        </center>
      </div><!-- / .container -->
    </div><!-- / .dark-bg -->
  </div>