  <!-- ========== Downloads ========== -->

  <div class="gray-bg">
    <section id="services" class="container section ft-boxed-hover">
      <div class="row">
        <header class="sec-heading">
          <a name="downloads">
            <h2>Downloads</h2>
          </a>
          <span class="subheading">BlackCoin official files</span>
        </header>
        <div class="row no-gap">
          <ul>
            <!-- Item 1 -->
            <li>
                {% image "./src/assets/images/more.png", "Blackcoin More Logo" %}
              <h3>MORE WALLET</h3>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Blackcoin More v2.13.2.8</span><br>
                <a  alt="Blackcoin More Website" href="https://blackcoinmore.org" >{% image "./src/assets/images/logo-more-bw-sm.png", "Blackcoin More" %}</a><br>
                <p class="pd-15px">The community supported wallet.</p>
              </div><!-- / .hover-content -->
            </li>
            <!-- Item 2 -->
            <li>
                {% image "./src/assets/images/mwallets.png", "Mobile Wallets" %}
              <h3>MOBILE WALLETS</h3>
              <div class="hover-content">
                <a href="https://coinomi.com/"><span>{% image "./src/assets/images/coinomi.png", "Coinomi Multicoin Wallet" %} </span></a><br>
                <a href="https://abra.com/"><span>{% image "./src/assets/images/abra-logo-white.svg", "Abra Multicoin Wallet"  %} </span></a><br>
              </div><!-- / .hover-content -->
            </li>

            <!-- Item 3 -->
            <li>
                {% image "./src/assets/images/blackhalo2.png", "Blackhalo Logo" %}
              <h3>BLACKHALO</h3>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Blackhalo</span><br>
                <a href="https://blackhalo.info/#section-call-to-actiontwo"><span>All platforms
                    downloads</span>{% image "./src/assets/images/blackhalo2.png", "Blackhalo Logo" %}</a><br>
              </div><!-- / .hover-content -->
            </li>
            <!-- Item 4 -->
            <li>
                {% image "./src/assets/images/original.png", "Blackcoin Logo" %}
              <h3>LEGACY WALLET</h3>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Legacy v1.2.x</span><br>
                <a href="https://gitlab.com/blackcoin/blackcoin/-/blob/master/README.md"><span>Gitlab Source
                    Code</span></span></a><br>
              </div><!-- / .hover-content -->
            </li>
          </ul>
        </div>
      </div><!-- / .row -->
    </section><!-- / .cotnainer -->
  </div><!-- / .gray-bg -->
