<!-- ========== Downloads ========== -->

<div class="gray-bg">
  <section id="services" class="container section ft-boxed-hover">
    <div class="row">
      <header class="sec-heading">
          <h2 class="golden" id="downloads">{{ 'downloads' | i18n }}</h2>
        <span class="subheading">{{ 'official_files' | i18n }}</span>
      </header>
      <div class="row">
        <ul class="center">
          <!-- Item 1 -->
          <li>
              {% image "./src/assets/images/more.png", "Blackcoin More Logo" %}
            <h3>{{ 'more_wallet' | i18n }}</h3>
            <div class="hover-content">
              <span style="color: #FFFFFF;">{{ 'blackcoin_more' | i18n }} v2.13.2.8</span>
              <a  alt="Blackcoin More Website" href="https://blackcoinmore.org" >{% image "./src/assets/images/logo-more-bw-sm.png", "Blackcoin More" %}</a>
              <p class="pd-15px">{{ 'community_supported' | i18n }}</p>
            </div><!-- / .hover-content -->
          </li>
          <!-- Item 2 -->
          <li>
              {% image "./src/assets/images/mwallets.png", "Mobile Wallets" %}
            <h3>{{ 'mobile_wallets' | i18n }}</h3>
            <div class="hover-content">
              <a href="https://coinomi.com/"><span>{% image "./src/assets/images/coinomi.png", "Coinomi Multicoin Wallet" %} </span></a>
              <a href="https://abra.com/"><span>{% image "./src/assets/images/svg/abra-logo-white.svg", "Abra Multicoin Wallet"  %} </span></a>
            </div><!-- / .hover-content -->
          </li>

          <!-- Item 3 -->
          <li>
              {% image "./src/assets/images/blackhalo2.png", "Blackhalo Logo" %}
            <h3>{{ 'blackhalo' | i18n }}</h3>
            <div class="hover-content">
              <span style="color: #FFFFFF;">{{ 'blackhalo' | i18n }}</span>
              <a href="https://blackhalo.info/#section-call-to-actiontwo"><span>{{ 'all_platforms' | i18n }}</span>{% image "./src/assets/images/blackhalo2.png", "BlackHalo Logo" %}</a>
            </div><!-- / .hover-content -->
          </li>
          <!-- Item 4 -->
          <li>
              {% image "./src/assets/images/original.png", "Blackcoin Logo" %}
            <h3>{{ 'legacy_wallet' | i18n }}</h3>
            <div class="hover-content">
              <span style="color: #FFFFFF;">{{ 'legacy_wallet' | i18n }} v1.2.x</span>
              <a href="https://gitlab.com/blackcoin/blackcoin/-/blob/master/README.md"><span>{{ 'legacy_gitlab' | i18n }}</span></span></a>
            </div><!-- / .hover-content -->
          </li>
        </ul>
      </div>
    </div><!-- / .row -->
  </section><!-- / .cotnainer -->
</div><!-- / .gray-bg -->
