<div class="testimonials-parallax">
  <div class="bg-overlay">
    <div class="container">
      <div class="cta-wrapper">
        <br />
        <center>
          <h3 id="buy">
            <span style="color: #FFFFFF;">{{ 'where_to_buy' | i18n }}</span>
          </h3>
        </center>
      </div>
      <div class="row">
        <ul class="t-clients clients-slider ws-s">
          <li>
            <a href="https://bittrex.com/Market/Index?MarketName=BTC-BLK">
              {% image "./src/assets/images/e1.png", "Link to Bittrex Exchange" %}Bittrex
            </a>
          </li>
          <li>
            <a href="https://www.aex.com/page/trade.html#/?symbol=blk_btc">
              {% image "./src/assets/images/aex.png", "Link to AEX Exchange" %}AEX
            </a>
          </li>
          <li>
            <a href="https://www.bitladon.com/blackcoin">
              {% image "./src/assets/images/bitladon.png", "Bitladon Exchange" %}Bitladon
            </a>
          </li>
          <li>
            <a href="https://vinex.network/trading/advanced/BTC_BLK">
              {% image "./src/assets/images/vinex.png", "Link to Vinex" %}Vinex Exchange
            </a>
          </li>
          <li>
            <a href="https://holytransaction.com/">
              {% image "./src/assets/images/e3.png", "Link to HolyTransaction Exchange" %}HolyTransaction
            </a>
          </li>
          <li>
            <a href="https://shapeshift.io/">
              {% image "./src/assets/images/shapeshift.png", "Link to ShapeShift Exchange" %}ShapeShift
            </a>
          </li>
        </ul><!-- / .t-clients -->
      </div><!-- / .row -->
      <center>
        <h4>
          <span>
          <span style="color: #CCC;"><i class="fa fa-info-circle"></i> {{ 'check' | i18n }} </span>
            <a rel="noopener" target="_blank" href="https://www.coingecko.com/en/coins/blackcoin" alt="">
              {{ 'markets_volume' | i18n }}
            </a>
          </span>
        </h4>
      </center>
    </div><!-- / .container -->
  </div><!-- / .bg.overlay -->
</div><!-- / .testimonials-parallax -->
