  <!-- Social Links -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <div class="container footer-social-links">
          <div class="row">
            <ul>
              <li><a href="https://bitcointalk.org/index.php?topic=3017838.new#new">Bitcointalk</a></li>
              <li><a href="https://discord.gg/hjNUgWD">Discord</a></li>
              <li><a href="https://webchat.freenode.net/?channels=%23blackcoin">IRC</a></li>
              <li><a href="https://twitter.com/BlackcoinOrg">BlackcoinOrg Twitter</a></li>
              <li><a href="https://facebook.com/BlackcoinOrg">BlackcoinOrg Facebook</a></li>
              <li><a href="https://t.me/blackcoinOrg">BlackcoinOrg Telegram</a></li>
              <li><a href="https://twitter.com/BlackcoinNL">BlackcoinNL Twitter</a></li>
              <li><a href="https://t.me/blackcoinNL">BlackcoinNL Telegram</a></li>
              <li><a href="https://keybase.io/team/blackcoin">Keybase</a></li>
            </ul>
          </div>
        </div><!-- / .container -->
      </div><!-- / .dark-bg -->
    </div>
  </div>