<div class="testimonials-parallax">
  <div class="bg-overlay">
    <div class="container">
      <div class="cta-wrapper">
        <br />
        <center>
          <h3>
            <a name="community" alt="Join the Blackcoin Community!">
              <span style="color: #FFFFFF;">Join The BlackCoin Community</span>
            </a>
          </h3>
        </center>
      </div>
      <div class="row">
        <ul class="t-clients clients-slider ws-s">
          <li>
            <a href="https://twitter.com/BlackcoinOrg" target="_blank" rel="noopener">
              {% image "./src/assets/images/twitterORG.png", "BlackcoinOrg Twitter" %}>BlackcoinOrg Twitter
            </a>
          </li>
          <li>
            <a href="https://twitter.com/BlackcoinNL" target="_blank" rel="noopener">
              {% image "./src/assets/images/twitterNL.png", "BlackcoinNL Twitter" %}>BlackcoinNL Twitter
            </a>
          </li>
          <li>
            <a href="https://t.me/blackcoin" target="_blank" rel="noopener">
              {% image "./src/assets/images/telegramORG.png", "Telegram" %}>Telegram
            </a>
          </li>
          <li>
            <a href="https://t.me/blackcoinNL" target="_blank" rel="noopener">
              {% image "./src/assets/images/telegramNL.png", "BlackcoinNL Telegram" %}>BlackcoinNL Telegram
            </a>
          </li>
          <li>
            <a href="https://keybase.io/team/blackcoin" target="_blank" rel="noopener">
              {% image "./src/assets/images/keybase.png", "Keybase" %}>Keybase
            </a>
          </li>
          <li>
            <a href="https://discord.gg/hjNUgWD" target="_blank" rel="noopener">
              {% image "./src/assets/images/discord.png", "Discord" %}>Discord
            </a>
          </li>
          <li>
            <a href="https://bitcointalk.org/index.php?topic=3017838.new#new" target="_blank" rel="noopener">
              {% image "./src/assets/images/bitcointalk.png", "Bitcointalk" %}>Bitcointalk
            </a>
          </li>
          <li>
            <a href="https://webchat.freenode.net/?channels=%23blackcoin" target="_blank" rel="noopener">
              {% image "./src/assets/images/irc.png", "IRC" %}>IRC
            </a>
          </li>
          <li>
            <a href="https://gitter.im/BlackCoin_Hub" target="_blank" rel="noopener">
              {% image "./src/assets/images/gitter.png", "Gitter" %}>Gitter
            </a>
          </li>
          <li>
            <a href="https://facebook.com/BlackcoinOrg" target="_blank" rel="noopener">
              {% image "./src/assets/images/facebook.png", "Facebook" %}>Facebook
            </a>
          </li>
        </ul><!-- / .t-clients -->
      </div><!-- / .row -->
    </div><!-- / .container -->
  </div><!-- / .bg-overlay -->
</div><!-- / .testimonials-parallax -->