<div id="nav-twitter">
  <a  href="https://twitter.com/hashtag/Blackcoin" alt="Hashtag Blackcoin"
      data-widget-id="746421924109164548"
      data-chrome="noheader noborders nofooter transparent noscrollbar"><li>#Blackcoin</li></a>
  <a  href="https://twitter.com/BlackcoinOrg" alt="BlackcoinOrg Twitter"><li>@BlackcoinOrg</li></a>
  <a  href="https://twitter.com/BlackcoinNL" alt="BlackcoinNL Twitter"><li>@BlackcoinNL<li></a>
  
  <script>
    var x = window.matchMedia("(max-width: 700px)")
    twiterFeed(x) // Call listener function at run time
    x.addListener(twiterFeed)   
      function twiterFeed(x) {
        if (x.matches) { // If media query matches
          return 
        } else {
          ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
        }
      }
  </script>
</div>