<script>
  var x = window.matchMedia("(max-width: 700px)")
  cryptocompare3(x) // Call listener function at run time
  x.addListener(cryptocompare3) 
    function cryptocompare3(x) {
      if (x.matches) { // If media query matches
        return
      } else {

    baseUrl = "https://widgets.cryptocompare.com/";
    var scripts = document.getElementsByTagName("script");
    var embedder = scripts[scripts.length - 1];
    (function () {
      var appName = encodeURIComponent(window.location.hostname);
      if (appName == "") {
        appName = "local";
      }
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.async = true;
      var theUrl = baseUrl + 'serve/v1/coin/list?fsym=BTC&tsyms=BTC,USD';
      s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
      embedder.parentNode.appendChild(s);
    })();
      }
    }
</script>