<script>
function toggleDisplay(h4) {
    var pannelHeadding = h4.parentElement,
        submenu = pannelHeadding.getElementsByTagName('div')[1];
    
    submenu.style.display = submenu.style.display == "block" ? "none" : "block";
    
    return false;
}
</script>
