<script type="text/javascript">
    
(function ($) {
    'use strict';

    /* --------------------------------------------------
        Initialization
    -------------------------------------------------- */

    // Initialize functions after elements are loaded.
    $(window).on("load", function () {

        // Preloader
        $('.preloader img').fadeOut(); // will first fade out the loading animation
        $('.preloader').delay(150).fadeOut('slow', function () {

        });

        initSliders();

    });


    /* --------------------------------------------------
        Sliders
    -------------------------------------------------- */

    function initSliders() {

        // Brands/Clients Slider
        $('.clients-slider').slick({
            autoplay: true,
            autoplaySpeed: 900,
            slidesToShow: 5,
            slidesToScroll: 1,
            dots: false,
            arrows: false,
            responsive: [{
                    breakpoint: 999,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        infinite: true,
                    }
                },
                {
                    breakpoint: 770,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 599,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
            ]
        });

    } // initSliders

})(jQuery);
</script>


 <!--    {% include "layouts/scripts/animdots.njk" %} -->
    {% include "layouts/scripts/slick-slider.njk" %}
    {% include "layouts/scripts/breaking-news.njk" %}