<center>
  <h4>MAIN COMMUNITY MEMBERS</h4>
</center>
<div class="no-gap">
  
  <ul>
    <li>
      <h5 class="donation-title">markBLK</h5>
      <h6 class="h-alt"></h6>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B4aW1WigXC7pHxpTmQrZsjX4PCLHuHQ8wN
        </p>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 2 -->
    <li>
      <h5 class="donation-title">Joshua J. Bouw / Gritt</h5>
      <h6 class="h-alt"></h6>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BMXmwCoB5hrkydTSjKbp2Fcwqejuzc5r16
        </p>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 1 -->
    <li>
      <h5 class="donation-title">Mindphuq</h5>
      <h6 class="h-alt"></h6>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B4nn2Y3SFC6whNGNvcQ2MvV1aQbZp3cZVF
        </p>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 4 -->
    <li>
      <h5 class="donation-title">Suptuppel</h5>
      <h6 class="h-alt"></h6>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B64bwzvcD15Wdiy73rZsGqK8H83HVDvaB4
        </p>
      </div><!-- / .hover-content -->
    </li>
  </ul>
</div>
<h4>&nbsp;</h4>
<h4>&nbsp;</h4>