<center>
  <h4>DEVELOPMENT TEAM</h4>
</center>
<div class="no-gap">
  
  <ul>
    <!-- Item 1 -->
    <li>
      <h5>Lateminer</h5>
      <h6 class="h-alt">Development Lead</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BDFgwjx8q9xrpeNzyY1Hz8x36Dmg39C4BU
        </p>
        <a href="../https://blackcoinmore.org/" class="link-btn">Blackcoin More</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 2 -->
    <li>
      <h5>Michel van Kessel</h5>
      <h6 class="h-alt">Technical Lead</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BB21eF5fEH3cvr1ApmWbzYA14L529DFjtJ
        </p>
        <a href="../https://blackcoinmore.org/" class="link-btn">Blackcoin More</a> ;
        <a href="../https://blackcoin.nl" class="link-btn">BlackcoinNL</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 3 -->
    <li>
      <h5>Daniel Clough</h5>
      <h6 class="h-alt">Community Lead</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B6sKk2SpDX8s7jrmfeMCTEjM26AnKe7Ukg
        </p>
        <a href="../https://blackcoin.org" class="link-btn">BlackcoinOrg Website</a> ;
        <a href="../https://blackcoin.nl" class="link-btn">BlackcoinNL</a>;
        <a href="../https://blackcoin.nl" class="link-btn">Discord and Bots</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 4 -->
    <li>
      <h5>David Zimbeck</h5>
      <h6 class="h-alt">BlackHalo Developer</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          bMDqFjNxhLNgE63F7F5ixDSRyMP7xwWL8K
        </p>
        <a href="../https://blackhalo.info/">BlackHalo</a>
      </div><!-- / .hover-content -->
    </li>
  </ul>
</div>
<h4>&nbsp;</h4>
<h4>&nbsp;</h4>