<center>
  <h4>EDUCATION & OUTREACH</h4>
</center>
<div>
  <ul>
    <li>
      <h5 class="donation-title">Blackcoin.org Website</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BBSXy2Aj8EwsxdUcCymdghD4KaPQUS7ugA
        </p>
        <a href="https://blackcoin.org" class="link-btn">BlackCoin.org Website</a>
      </div><!-- / .under-content -->
    </li>
    
    <li>
      <h5 class="donation-title">Blackcoin.nl Website</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B9to13TPTZZbyS3eewAz8nGbXx7zTjz3BM
        </p>
        <a href="https://blackcoin.nl" class="link-btn">BlackCoin.nl Website</a>
      </div><!-- / .under-content -->
    </li>
    
    <li>
      <h5 class="donation-title">Exchange Listings</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BBXBrYnrhbDyo44eRxeUPVjqPpNk9bBg8b
        </p>
        <a href="https://blackcoin.org/#buy" class="link-btn">Current Listings</a>
      </div><!-- / .under-content -->
    </li>
    
    <li>
      <h5 class="donation-title">Facebook News</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B6sKk2SpDX8s7jrmfeMCTEjM26AnKe7Ukg
        </p>
        <a href="https://www.facebook.com/BlackcoinOrg/" class="link-btn">Facebook</a>
      </div><!-- / .under-content -->
    </li>
    
    <li>
      <h5 class="donation-title">BlackcoinNL Twitter</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BTUfUZRRRBwMqJfLaivNcCPCZDZFWgSLqU
        </p>
        <a href="https://twitter.com/BlackcoinNL" class="link-btn">Twitter</a>
      </div><!-- / .under-content -->
    </li>
    
    <li>
      <h5 class="donation-title">BlackcoinOrg Twitter</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BH3mZaDVqLiZFPTMozcGuu5CfKKoHxSN1b
        </p>
        <a href="https://twitter.com/BlackcoinOrg" class="link-btn">Twitter</a>
      </div><!-- / .under-content -->
    </li>
    
  </ul>
</div>
<h4>&nbsp;</h4>
<h4>&nbsp;</h4>