<center>
  <h4>ONGOING PROJECTS</h4>
</center>
<div>
  <ul>
    <!-- Item 1 -->
    <li>
      <h5 class="donation-title">Server Hosting (VPS)</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BMWvMeEa88iqBCevi9dVX8GAhnPCh3JBHx
        </p>
        <a href="https://contabo.com/?show=vps" class="link-btn">Provider Website</a>
      </div><!-- / .under-content -->
    </li>
    <!-- Item 2 -->
    <li>
      <h5 class="donation-title">PayBLK</h5>
      <div class="under-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B8HhsoPzuyppCZseYd2i4zdGE4g9o7kvZ9
        </p>
        <a href="https://payblk.blackcoin.io" class="link-btn">payBLK Webwallet</a>
      </div><!-- / .under-content -->
    </li>
  </ul>
</div>
<h4>&nbsp;</h4>
<h4>&nbsp;</h4>