<center>
  <h4>ONGOING PROJECTS</h4>
</center>
<div>
  <ul>
    <!-- Item 1 -->
    <li>
      <h5>Facebook</h5>
      <h6 class="h-alt">Facebook News</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B6sKk2SpDX8s7jrmfeMCTEjM26AnKe7Ukg
        </p>
        <a href="https://www.facebook.com/BlackcoinOrg/" class="link-btn">Facebook</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 2 -->
    <li>
      <h5>NL Twitter</h5>
      <h6 class="h-alt">BlackcoinNL Twitter</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BTUfUZRRRBwMqJfLaivNcCPCZDZFWgSLqU
        </p>
        <a href="https://twitter.com/BlackcoinNL" class="link-btn">Twitter</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 3 -->
    <li>
      <h5>Org Twitter</h5>
      <h6 class="h-alt">BlackcoinOrg Twitter</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BH3mZaDVqLiZFPTMozcGuu5CfKKoHxSN1b
        </p>
        <a href="https://twitter.com/BlackcoinOrg" class="link-btn">Twitter</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 4 -->
    <li>
      <h5>Org Website</h5>
      <h6 class="h-alt">BlackCoin.org Website Development</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BBSXy2Aj8EwsxdUcCymdghD4KaPQUS7ugA
        </p>
        <a href="https://blackcoin.org" class="link-btn">BlackCoin.org Website</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 5 -->
    <li>
      <h5>NL Website</h5>
      <h6 class="h-alt">BlackCoin.nl Website Development</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B9to13TPTZZbyS3eewAz8nGbXx7zTjz3BM
        </p>
        <a href="https://blackcoin.nl" class="link-btn">BlackCoin.nl Website</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 6 -->
    <li>
      <h5>Hosting</h5>
      <h6 class="h-alt">Server Hosting (VPS)</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BMWvMeEa88iqBCevi9dVX8GAhnPCh3JBHx
        </p>
        <a href="https://contabo.com/?show=vps" class="link-btn">Provider Website</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 7 -->
    <li>
      <h5>Webwallet</h5>
      <h6 class="h-alt">PayBLK</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          B8HhsoPzuyppCZseYd2i4zdGE4g9o7kvZ9
        </p>
        <a href="https://payblk.blackcoin.io" class="link-btn">payBLK Webwallet</a>
      </div><!-- / .hover-content -->
    </li>
    <!-- Item 8 -->
    <li>
      <h5>Listing</h5>
      <h6 class="h-alt">Exchange Listings</h6>
      <div class="hover-content">          
        <span class="ft-heading">More Info</span>
        <p>
          BBXBrYnrhbDyo44eRxeUPVjqPpNk9bBg8b
        </p>
        <a href="https://blackcoin.org/#buy" class="link-btn">Current Listings</a>
      </div><!-- / .hover-content -->
    </li>
  </ul>
</div>
<h4>&nbsp;</h4>
<h4>&nbsp;</h4>