<!-- FAQ Group 1 -->
<div class="faq-group">
  <div>
    <h3>General</h3>
    <p>General questions about Blackcoin.</p>
  </div>

  <!-- FAQ Accordion -->
  <div class="panel-group accordions-1 ws-s" id="faq-accordion-1" role="tablist" aria-multiselectable="true">

    <!-- Item 1 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-1">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.MORE_ABOUT_BLACKCOIN' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
          {{ 'FAQ1.MORE_ABOUT_BLACKCOIN_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->
    <!-- Item 2 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-2">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.HOW_DOES_IT_WORK' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
          {{ 'FAQ1.HOW_DOES_IT_WORK' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 3 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-3">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.BLACKCOIN_VS_BITCOIN' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
          {{ 'FAQ1.BLACKCOIN_VS_BITCOIN_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 4 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-4">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.PROOF_OF_STAKE_VS_PROOF_OF_WORK' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ1.PROOF_OF_STAKE_VS_PROOF_OF_WORK_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 5 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-5">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.THE_ANNUAL_INFLATION_OF_BLACKCOIN' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
          {{ 'FAQ1.THE_ANNUAL_INFLATION_OF_BLACKCOIN_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 6 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-6">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.WHERE_CAN_I_CHECK_THE_NETWORK_WEIGHT' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
          {{ 'FAQ1.WHERE_CAN_I_CHECK_THE_NETWORK_WEIGHT_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 7 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-7">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.WHERE_CAN_I_BUY_BLACKCOIN' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
          {{ 'FAQ1.WHERE_CAN_I_BUY_BLACKCOIN_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 8 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-8">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.STAKING' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ1.STAKING_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 9 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-9">
        <h4 class="panel-title">
          <p>
            {{ 'FAQ1.WHAT_KIND_OF_COMPUTING_POWER_IS_REQUIRED_FOR_STAKING' | i18n }}
          </p>
        </h4>
        <div class="panel-body">
            {{ 'FAQ1.WHAT_KIND_OF_COMPUTING_POWER_IS_REQUIRED_FOR_STAKING_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 10 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-10">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.HOW_BIG_ARE_BLOCK_REWARDS' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ1.HOW_BIG_ARE_BLOCK_REWARDS_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 11 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-11">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.HOW_OFTEN_WILL_I_RECEIVE_A_BLOCK_REWARD' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ1.HOW_OFTEN_WILL_I_RECEIVE_A_BLOCK_REWARD_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 12 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-1-h-12">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ1.WHAT_ARE_THE_OFFICIAL_BLACKCOIN_WEBSITES' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ1.WHAT_ARE_THE_OFFICIAL_BLACKCOIN_WEBSITES' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->
  </div><!-- / .panel-group .accordion-1 -->
  <hr class="mb-sm-50">
</div><!-- / .faq-group -->