
<!-- FAQ Group 2 -->
<div class="faq-group">
  <div>
    <h3>Wallet</h3>
    <p>Wallet related questions/issues.</p>
  </div>

  <!-- FAQ Accordion -->
  <div class="panel-group ws-s accordions-1" id="faq-accordion-2" role="tablist" aria-multiselectable="true">

    <!-- Item 1 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-1">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.HOW_LONG_DOES_THE_WALLET_TAKE_TO_SYNC' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.HOW_LONG_DOES_THE_WALLET_TAKE_TO_SYNC_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 2 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-2">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.WHY_IS_WALLET_NOT_SYNCING' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.WHY_IS_WALLET_NOT_SYNCING_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 3 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-3">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.HOW_TO_SEND_BLACKCOIN' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.HOW_TO_SEND_BLACKCOIN_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 4 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-4">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.HOW_TO_RECEIVE_BLACKCOINS' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.HOW_TO_RECEIVE_BLACKCOINS_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 5 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-5">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.HOW_TO_OPEN_YOUR_WALLET_FOR_STAKING' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.HOW_TO_OPEN_YOUR_WALLET_FOR_STAKING_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 6 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-6">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.WHAT_IS_THE_MAX_AMOUNT_OF_NETWORK_CONNECTIONS' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.WHAT_IS_THE_MAX_AMOUNT_OF_NETWORK_CONNECTIONS_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 7 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-7">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.UPGRADING_WALLET' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.UPGRADING_WALLET_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 8 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-8">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.CHANGING_WALLET_LOCATION' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.CHANGING_WALLET_LOCATION_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 9 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-9">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.HOW_OFTEN_DO_I_NEED_TO_BACKUP_MY_WALLET' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.HOW_OFTEN_DO_I_NEED_TO_BACKUP_MY_WALLET_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 10 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-10">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.HOW_TO_STOP_STAKING_TO_BE_ABLE_TO_SEND_COINS' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.HOW_TO_STOP_STAKING_TO_BE_ABLE_TO_SEND_COINS_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 11 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-11">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.SENDING_BLACKCOINS_FROM_CERTAIN_ADDRESS' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.SENDING_BLACKCOINS_FROM_CERTAIN_ADDRESS_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 12 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-2-h-12">
        <h4 class="panel-title">
          <span>
            {{ 'FAQ2.DOES_A_WEB_OR_MOBILE_WALLET_EXIST' | i18n }}
          </span>
        </h4>
        <div class="panel-body">
            {{ 'FAQ2.DOES_A_WEB_OR_MOBILE_WALLET_EXIST_ANSWER' | i18n }}
        </div>
      </div>
    </div><!-- / .panel -->
  </div><!-- / .panel-group .accordion-1 -->
  <hr class="mb-sm-50">
</div><!-- / .faq-group -->