
<!-- FAQ Group 3 -->
<div class="faq-group">
  <div>
    <h3>Other</h3>
    <p>Links and downloads.</p>
  </div>

  <!-- FAQ Accordion -->
  <div class="panel-group accordions-1 ws-s" id="faq-accordion-3" role="tablist" aria-multiselectable="true">

    <!-- Item 1 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-3-h-1">
        <h4 class="panel-title">
          <span>
            BLACKCOIN FAUCETS
          </span>
        </h4>
        <div class="panel-body">
          <p>
            <a href="https://blackcoinfaucet.com/faucet-list/blackcoin" target="_blank">Blackcoin Faucet</a><br />
            <a href="https://faucetdump.com/blackcoin" target="_blank">Faucet Dump</a>
          </p>
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 2 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-3-h-2">
        <h4 class="panel-title">
          <span>
            BOOTSTRAP
          </span>
        </h4>
        <div class="panel-body">
          <p>
            <a href="https://mega.nz/#!R64nQARY!o8Ovl-2OLWMF6quSfpEXPEbcsmHiLhPegSnaHQXgR6I" target="_blank">Bootstrap: 14 May 2017</a><br />
            <a href="https://mega.nz/#F!ru5lTJSD!3Ysa0Whk4Nyztc9xfu8pjQ" target="_blank">Bootstrap: 16 December 2018</a><br />
          </p>
          <p>
            Using the bootstrap: <br />
          </p>
          <p>
            <b>1. Copy & paste way:</b><br />
          </p>
          <p>
            a) Close Blackcoin wallet. (if it is running)<br />
          </p>
          <p>
            b) Place file into the Blackcoin data directory. The default location of data directory is as
            follow:<br />
          </p>
          <p>
            %AppData%\Roaming\Blackcoin\ for windows<br />
            ~/Library/App Support/Blackcoin/ for mac<br />
            ~/.blackcoin/ for linux<br />
          </p>
          <p>
            c) Open Blackcoin wallet.<br />
          </p>
          <p>
            d) Wait for Blackcoin wallet to open while it rescans the bootstrap and unpacks it. (may take long time
            depends on your computer)<br />
          </p>
          <p>
            <b>2. Command line way:</b><br />
          </p>
          <p>
            a) Start the client with the <span>loadblock method:</span><br />
          </p>
          <p>
            <span>Windows:</span> blackcoin-qt.exe -loadblock=C:\..\bootstrap.dat<br />
            <span>Linux:</span> ./blackcoin-qt -loadblock=/home/../bootstrap.dat<br />
          </p>
          <p>
            b) In bottom left of the wallet, it will say "Importing blocks..."
          </p>
        </div>
      </div>
    </div><!-- / .panel -->

    <!-- Item 3 -->
    <div class="panel panel-default">
      <div onclick="return toggleDisplay(this)" class="panel-heading" role="tab" id="faq-3-h-3">
        <h4 class="panel-title">
          <span>
            INTEGRATING BLACKCOIN PAYMENTS
          </span>
        </h4>
        <div class="panel-body">
          <p>
            <a href="../assets/Step-By-Step-Instructions-for-Online-Businesses-_BLK.pdf" target="_blank">Guide for
            online businesses on integrating blk payments.</a><br />
          </p>
        </div>
      </div>
    </div><!-- / .panel -->

  </div><!-- / .panel-group .accordion-1 -->

  <span class="faq-contact-links"><i class="fa fa-info-circle"></i> If you have more questions <a
      href="https://gitter.im/BlackCoin_Hub" target="_blank">contact us on Gitter.</a></span>

</div><!-- / .faq-group -->