<footer class="site-footer bg-transparent pb-3 pb-md-5">
	{% include "components/social.njk" %}

	<!-- Copyright -->
	<div class="copyright">
	    <div class="container">
	      <div class="row">

	        <div class="col-md-6">
	          <small>&copy; 2014-2021 BlackCoin. All Rights Reserved.</small>
	        </div>

	        <div class="col-md-6">
	          <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
	        </div>

	      </div><!-- / .row -->
	    </div><!-- / .container -->
	</div><!-- / .copyright -->
</footer>


    {% include "layouts/scripts/bootstrap.njk" %}

<!-- Gitter -->
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'BlackCoin_Hub/General'
  };
</script>