<nav id="navbar" role="navigation">
    <!-- Logo -->
    <a id="nav-logo" href="/{{ locale }}/"> 
        {% image "./src/assets/images/blkb.png", "Blackcoin - Logo" %}
    </a>
    <row>
        <a id="hamburger-toggle" href="#" onclick="return dropDown(this)">{% image "./src/assets/images/svg/hamburger.svg", "Hamburger Icon" %}</a>
        <ul id="menu-main"> 
            <li>
                <a href="#" onclick="return dropDown(this)">{{ explore }}</a>
                <ul id="menu">
                    <li><a  onclick="parentElement.parentElement.parentElement.parentElement.style.display = 'none'" href="/{{ locale }}/">{{ 'NAV.HOMEPAGE' | i18n }}</a></li>
                    <li><a  onclick="parentElement.parentElement.parentElement.parentElement.style.display = 'none'" href="#about">{{ about }}</a></li>
                    <li><a  onclick="parentElement.parentElement.parentElement.parentElement.style.display = 'none'" href="#community">{{community}}</a></li>
                    <!--<li><a href="bounties/">Bounties</a></li>-->
                </ul>

<!--                 <li><a onclick="parentElement.parentElement.style.display = 'none'" href="#buy">Buy </a></li>
 -->                
                <li><a href="#" onclick="return dropDown(this)">{{links}}</a>
                    <ul id="menu-right">
                        <li><a rel="noopener" target="_blank" href="https://chainz.cryptoid.info/blk/">CryptoID {{explorer}}</a></li>
                        <li><a rel="noopener" target="_blank" href="https://www.coingecko.com/{{locale}}/coins/blackcoin">Coingecko</a></li>
                        <li><a rel="noopener" target="_blank" href="https://coinmarketcap.com/currencies/blackcoin/#charts">CoinMarketCap</a></li>
                        <li><a rel="noopener" target="_blank" href="https://blackcoin.nl">BlackcoinNL</a></li>
                        <li><a rel="noopener" target="_blank" href="https://node.blackcoin.io/insight/">Blacksight {{explorer}}</a></li>
                        <li><a rel="noopener" target="_blank" href="https://bitinfocharts.com/blackcoin/">Bitinfocharts {{explorer}}</a></li>
                        <li><a rel="noopener" target="_blank" href="https://gihub.com/coinblack/">Github</a></li>
                        <li><a rel="noopener" target="_blank" href="https://gitlab.com/blackcoin/">Gitlab</a></li>
                        <!--<li><a href="https://en.wikipedia.org/wiki/BlackCoin">Wikipedia</a></li>-->
                    </ul>
                </li>
                <li><a onclick="parentElement.parentElement.style.display = 'none'" href="/{{ locale }}/#downloads">{{download}}</a></li>
                <li><a href="#" onclick="return dropDown(this)">{{markets}}</a>
                    <ul>
                        <div  id="nav-markets">
                            <div>
                                <a class="centered" href="https://www.coingecko.com/{{locale}}/coins/blackcoin" rel="noopener" target="_blank">
                                    {{more_charts_on}} CoinGecko
                                </a>
                                {% include "layouts/scripts/cryptocompare-blk-price.njk" %}
                                {% include "layouts/scripts/cryptocompare-btc-price.njk" %}
                            </div>
                            {% include "layouts/scripts/cryptocompare-blk-chart.njk" %}
                        </div>
                    </ul>
                </li>
                <li><a href="#" onclick="return dropDown(this)">Twitter</a>
                    <ul id="menu-twitter">
                        {% include "home/twitter.njk" %}
                    </ul>
                </li>
                <li><a  onclick="parentElement.parentElement.parentElement.parentElement.style.display = 'none'" href="/{{ locale }}/donations">{{donations}}</a></li>
                <li><a  onclick="parentElement.parentElement.parentElement.parentElement.style.display = 'none'" href="/{{ locale }}/faq"><span style="color: #ddb77a;">{{faq}}</span></a></li>
                {% include 'layouts/language-selector.njk' %}
            </li>
        </ul>
    <row>
</nav><!-- / .navbar -->
