<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackcoin.org</title>
    <meta name="description" content="Website for Blackcoin.org">
    <link rel="icon" type="image/png" sizes="100x100" href="favicon.png">

    <!-- Gitter -->
    <style type="text/css">
     .gitter-open-chat-button {
        background-color: #262626;
      }
    </style> 
    {% include "layouts/styles/base-navbar.njk" %}
    {% include "layouts/styles/ft-boxed.njk" %}
  </head>

  <body style="margin: 0;">

    {% include "layouts/base-navbar.njk" %}


    <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>

              {{ content | safe }}
    
    </main>
    <footer class="site-footer bg-transparent pb-3 pb-md-5">
      {% include "home/social.njk" %}
      <!-- Copyright -->
      <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <small>&copy; 2014-<span id="copyright"></span> {{ 'blackcoin' | i18n }} <br />{{ 'all_rights_reserved' | i18n }} </small>
              </div>
              <div class="col-md-6">
                <small><a href="#page-top" class="pull-right to-the-top">{{ 'to_the_top' | i18n }} ^ </a></small>
              </div>
            </div><!-- / .row -->
          </div><!-- / .container -->
      </div><!-- / .copyright -->
    </footer>

    {% include "layouts/scripts/base-navbar.njk" %}

    <!-- Gitter -->
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'BlackCoin_Hub/General'
      };
    </script>
    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
  </body>
</html>
