---
layout: layouts/base.njk
templateClass: tmpl-faq
---
<!-- ========== FAQ Layout - 1 ========== -->
<head>
  <title>BlackCoin - F.A.Q</title>
	{% include "layouts/styles/faq.njk" %}
  {% include "layouts/styles/dark-background-base.njk" %}
</head>

<section class="container section gray-bg">
  <header class="sec-heading">
    <h1>General Questions</h1>
    <h2 class="subheading">Frequently Asked Questions</h2>
    <h3>F.A.Q.</h3>
  </header>

  <div class="row">

      {{ content | safe }}

    {% include "layouts/scripts/faq.njk" %}
  </div><!-- / .row -->
</section><!-- / .container -->