---
layout: layouts/base.njk
templateClass: tmpl-faq
---
<!-- ========== FAQ Layout - 1 ========== -->
<head>
  <title>{{ 'FAQ.FAQ_TITLE' | i18n }}</title>
	{% include "layouts/styles/faq.njk" %}
  {% include "layouts/styles/dark-background-base.njk" %}
</head>

<section class="container section gray-bg">
  <header class="sec-heading">
    <h1>{{ 'FAQ.GENERAL_QUESTIONS' | i18n }}</h1>
    <h2 class="subheading">{{ 'FAQ.FREQUENTLY_ASKED_QUESTIONS' | i18n }}</h2>
    <h3>{{ 'FAQ.F_A_Q' | i18n }}</h3>
  </header>

  <div class="row">

      {{ content | safe }}

    {% include "layouts/scripts/faq.njk" %}
  </div><!-- / .row -->
</section><!-- / .container -->