---
layout: layouts/base.njk
templateClass: tmpl-home
---

<head>
  <style id="custom styles" type="text/css">
    a {
      color: #862;
      text-decoration: none !important;
    }

    a:hover {
      color: #ccc !important;
    }

    a:focus {
      color: #ccc !important;
    }

    .testimonials-parallax .t-clients,
    .testimonials-dark .t-clients {
      margin: 0 auto 70px auto !important;
    }

    .breakingNews {
      text-align: left !important;
      background: #151515 !important;
    }

    .label {
      font-size: 100% !important;
      font-weight: normal !important;
    }
    .blkb img {
        width: 100%;
        height: auto;
    }
  </style>

  {% include "layouts/styles/pop-up-maker.njk" %}
  {% include "layouts/styles/template-picker.njk" %}
  {% include "layouts/styles/breaking-news.njk" %}
  {% include "layouts/styles/slick-slider.njk" %}
  {% include "layouts/styles/quick-interest-slider.njk" %}
  {% include "layouts/styles/x-gen.njk" %}

</head>
  
        <!-- ========== Preloader ========== -->
  <div class="preloader">
      <h1>{{ 'loading' | i18n }}</h1>
      {% image "./src/assets/images/svg/loader.svg", "Loading..." %}
  </div>
              {{ content | safe }}

  {% include "layouts/scripts/jQuery.njk" %}
  {% include "layouts/scripts/home-scripts.njk" %}