---
layout: layouts/base.njk
templateClass: tmpl-home
---

<head>
  {% include "layouts/styles/pop-up-maker.njk" %}
  {% include "layouts/styles/template-picker.njk" %}
  {% include "layouts/styles/breaking-news.njk" %}
  {% include "layouts/styles/slick-slider.njk" %}
  {% include "layouts/styles/quick-interest-slider.njk" %}
  {% include "layouts/styles/x-gen.njk" %}
  {% include "layouts/styles/home.njk" %}


</head>
  
        <!-- ========== Preloader ========== -->
  <div class="preloader">
      <h1>{{ 'loading' | i18n }}</h1>
      {% image "./src/assets/images/svg/loader.svg", "Loading..." %}
  </div>
              {{ content | safe }}

  {% include "layouts/scripts/jQuery.njk" %}
  {% include "layouts/scripts/home-scripts.njk" %}