{% set pageUrl = page.url.split('/').slice(2).join('/') %}

<a id="lang-select" href="#" onclick="return dropDown(this)">{{ 'select_language' | i18n }}</a>
<ul id="menu-locale"  class="nav-main">
{% for locale in locales -%}
	<a href="/{{ locale.code }}/{{ pageUrl }}" rel="/{{ locale.code }} {{ pageUrl }}" hreflang="{{ locale.code }}"><li>{{ locale.label }}</li></a>
{% endfor -%}
</ul>