<style>

html {background-color: #eee;}

h1 {
  font-size: 10vw;
}
h2 {
  font-size: 8vw;
}
h3 {
  font-size: 7vw;
}

h4 {
  font-size: 6vw;
}
p {
  font-size: 5vw;
}
.body {
  font-size: 5vw;
}

.row {  display: flex; flex-flow: row wrap;}
.column {flex-flow: column;}
.centered {align-self: center; justify-self:center;}

.container {
  padding: .5rem;
}

.golden {
  color: #ca6;
  text-shadow: 1px 0px #862;
  padding: 1vw;
}

.section{
  padding-top:101px;
  padding-bottom:100px;
}

@media (min-width:1080px){
  .container{
    width:70vw; 
    margin: 0 auto;
  }
  .faq-group {
    width: 50%;
    padding: 3rem;
  }
}

#hamburger-toggle {
  fill: #ddd;
}

#navbar { 
  width: 100%;
  position: fixed; 
  z-index: 100; 
  height: auto;
  background-color: #111; 
  margin-top: 0; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
}

#nav-logo img {
  width: 10vw;
  height: auto;
}

#navbar ul.nav-main {
  display: none;
  width: 100%;
  background-color: rgb(17,17,17);
  flex-flow: wrap;
  position: absolute;
  left: 0;
  padding: 1rem;
  margin: 0;
  justify-content: space-between;
}
#navbar ul li ul {
  display: none;
  flex-flow: wrap;
  position: relative;
  padding: 1rem;
}

#navbar ul.nav-menu {
    display: block;
}
#navbar li {
    position: relative;
    width: 150px;
    list-style: none;
}
#menu {
    position: absolute;
    display: none;
    left: 0;
}

#lang-select {
  margin-left: 3rem;
}

#menu-locale {
  display: none;
}

#navbar ul.nav-menu > li > ul > li ul
{
   left: 0%;
   top: 0px;
}

#nav-markets {
  position: fixed !important;
  left: 0;
  background-color: rgb(17,17,17);
  padding: 5vw;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: space-around;
  height: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#nav-markets::-webkit-scrollbar {
  display: none;
}
#menu-twitter {
  display: none;
  left: 0 !important;
  width: 100vw;
  position: fixed !important;
  justify-content: space-around;
  background-color: rgba(17,17,17,.9);
}

#nav-twitter {
  position: fixed;
  background-color: rgba(17,17,17,.9);
  left: 0;
  width: 100vw;
  align-content: center;
  display: flex;
  justify-content: space-around;
  height: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#nav-twitter::-webkit-scrollbar {
  display: none;
  flex-flow: row;
}

.ccc-widget {
  width: 33vw;
}

@media (min-width: 1080px) {
  h1 {
    font-size: 4.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }

  h4 {
    font-size: 1.2vw;
  }
  p {
    font-size: 1vw;
  }
  .body {
    font-size: 1vw;
  }
  #navbar {
    justify-content: space-around;
  }
  #navbar ul.nav-main {
    justify-content: space-around;
    font-size: 2rem;
    margin: .9rem 0 0 0;
  }
  #nav-logo img {
    width: 5vh;
    height: auto;
  }
  #nav-twitter {
    height: 99vh;
  }
  #menu-locale li {
    padding: 3rem;
  }
}


</style>