<style id="dark-background-base" type="text/css">

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{-webkit-tap-highlight-color:transparent}
button,select{font-family:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}img{vertical-align:middle}

body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#fff;background-color:#222}

a {
  color: #862;
  text-decoration: none !important;
}

a:hover {
  color: #ccc !important;
}

a:focus {
  color: #ccc !important;
}
</style>