<style id="main" type="text/css">

a {
  color: #862;
  text-decoration: none !important;
}

a:hover {
  color: #ccc !important;
}

a:focus {
  color: #ccc !important;
}

h3 {
  font-size: 5vw;
}

p {
  font-size: 5vw;
}

.testimonials-parallax .t-clients,
.testimonials-dark .t-clients {
  margin: 0 auto 70px auto !important;
}


.label {
  font-size: 100% !important;
  font-weight: normal !important;
}
.blkb img {
    width: 100%;
    height: auto;
}

.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}[role=button]{cursor:pointer}

.hero-content img {
  width: 50%;
  height: auto;
}

  .main-demo-hero .hero-content-wrapper,
  .fs-video-hero .hero-content-wrapper,
  .fw-video-hero .hero-content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-demo-hero .hero-content-wrapper .hero-content .hero-lead br,
  .fs-video-hero .hero-content-wrapper .hero-content .hero-lead br,
  .fw-video-hero .hero-content-wrapper .hero-content .hero-lead br {
    display: none;
  }

  .main-demo-hero .hero-content-wrapper .hero-content .hero-subheading,
  .fs-video-hero .hero-content-wrapper .hero-content .hero-subheading,
  .fw-video-hero .hero-content-wrapper .hero-content .hero-subheading {
    margin-top: 50px;
  }

  .main-demo-hero .hero-content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

.hero-lead {
    font-size: 15vw;
}

  .fs-slider-hero .fs-slide-1 .hero-content .hero-subheading,
  .fs-slider-hero .fs-slide-2 .hero-content .hero-subheading {
    margin-top: 50px;
  }

  .fs-slider-hero .fs-slide-3 .hero-content .hero-lead {
    margin-bottom: 35px;
  }

  .fs-slider-hero .fs-slide-3 .hero-content .hero-subheading {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: .8em;
  }

  .text-slider-hero .hero-content-wrapper .hero-content .hero-lead {
    font-size: 4em;
  }

  .animated-hero .hero-content-wrapper .hero-content .hero-lead {
    font-size: 3.5em;
    letter-spacing: 5px;
  }

  .fw-slider-hero .fw-slide-1 .hero-content-wrapper .hero-content .hero-lead,
  .fw-slider-hero .fw-slide-3 .hero-content-wrapper .hero-content .hero-lead {
    font-size: 3em;
    letter-spacing: 5px;
  }

  .fw-slider-hero .fw-slide-2 .hero-content-wrapper .hero-content {
    text-align: center !important;
  }

  .agency-hero .hero-wrapper .hero-content {
    padding-left: 35px;
    padding-right: 35px;
  }

  .agency-hero .hero-wrapper .hero-content .text-wrapper {
    margin-top: 50px;
    padding: 0;
  }

  .agency-hero .hero-wrapper .hero-content .text-wrapper p br {
    display: none;
  }

  .app-hero .scroller {
    display: none;
  }

.subheading {
  padding: 1rem;
}

.img-responsive {
  max-width: 100%;
}

.center {
  place-items: center;
}

.pd-15px { padding-top: 15px;  }
.slick-track li { margin: 3vw; }
.slick-track img { width: 100%; height: auto;}

.ft-boxed-hover ul {
  display: grid;
  align-items: center;
}

#donation-link { font-size: 3rem;  }
.hero-content { top: 25vh; position: relative;  }
.bn-h3 { font-size: 11.5px; margin: 7px 0 10px 0; font-weight: 500;  }
.bg-solid-white{ background:#fff!important }
.bg-solid-dark{ background:#111 }
.icon {
  padding: 3vw;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.ft-boxed-hover ul li .hover-content .ft-x .ft-item .ft-heading,.ft-x .ft-item .ft-boxed-hover ul li .hover-content .ft-heading,.ft-x .ft-item h5,.ft-x .ft-item i,.ft-x .ft-item span{ 
  display:inline-block; margin:25px 35px 50px 0; padding:28px 26px; float:left; text-align:center; vertical-align:top 
}

.ft-x .ft-item{ text-align:center }

.ft-x .ft-material:hover i,.ft-x .ft-material:hover span{ -webkit-transform:translateY(-10px); -ms-transform:translateY(-10px); transform:translateY(-10px); box-shadow:0 22px 43px rgba(0,0,0,.15) }
.ft-x .ft-material i,.ft-x .ft-material span{ display:inline-block; border:1px solid #f8f8f8; border-radius:100px; background:#fff; color:#777; box-shadow:0 1px 1px rgba(0,0,0,.2); -webkit-transition:all .3s; transition:all .3s }
.ft-x .ft-circle-overlay:hover i,.ft-x .ft-circle-overlay:hover span{ background:#f4f4f4 }
.ft-x .ft-circle-overlay i,.ft-x .ft-circle-overlay span{ display:inline-block; color:#111; border-radius:100px; background:#ececec; border:10px solid #f4f4f4; -webkit-transition:all .3s; transition:all .3s }
.ft-x .ft-item{ text-align:left }

.ft-x .ft-material i,.ft-x .ft-material span{ color:#111 }
.ft-x .ft-circle-overlay i,.ft-x .ft-circle-overlay span{ padding:20px; border:10px solid #f4f4f4 }
.ft-x .ft-basic i,.ft-x .ft-basic span{ padding:0;}
.ft-x .right-align .ft-content{ display:inline-block; width:62%; text-align:right }
.ft-x .right-align .ft-icon{ float:right; display:inline-block; width:30% }
.ft-boxed-hover ul{ margin:0; padding:0; list-style:none }
.ft-boxed-hover ul li{ 
  display:inline-block; position:relative; float:left; padding:50px; border:1px solid #ddd; background:#fff; text-align:center; -webkit-transition:border-color .3s; transition:border-color .3s 
}
.ft-boxed-hover ul li:hover{ border-color:#111 }
.ft-boxed-hover ul li:hover .hover-content{ opacity:1 }
.ft-boxed-hover ul li .ft-icon{ color:#777 }
.ft-boxed-hover ul li .h-alt{ color:#999 }
.ft-boxed-hover ul li .hover-content{ 
  display: flex;
  justify-content: center;
  flex-flow: column;
  position:absolute; top:0; left:0; 
  overflow: hidden; width: 100%; height: 100%; 
  background:#111; opacity:0; -webkit-transition:all .3s; transition:all .3s;
}
.ft-boxed-hover ul li .hover-content .ft-icon{ position:absolute; display:block; top:50px; left:0; right:0; color:rgba(217,217,217,.15); z-index:1 }
.ft-boxed-hover ul li .hover-content .ft-heading{ display:block; margin:0; padding-bottom:15px; color:#ececec; }
.ft-boxed-hover ul li .hover-content p{ margin:0; color:#999 }
.ft-boxed-hover ul li .hover-content a{ display:inline-block; position:relative; color:#999; z-index:10!important }
.ft-boxed-hover ul li .hover-content a:hover{ color:#ececec }
.ft-boxed-hover ul li .hover-content a:focus{ outline:0 }
.ft-tabs .tabs-list{ list-style:none; padding:0; margin:0 }
.ft-tabs .tabs-list li{ border-top:1px solid #ececec; border-bottom:1px solid #ececec }
.ft-tabs .tabs-list li a,.ft-tabs .tabs-list li:nth-child(2){ display:block; padding:50px; border-left:10px solid rgba(17,17,17,0) }
.ft-tabs .tabs-list li a:hover{ background:#f8f8f8 }
.ft-tabs .tabs-list li a:focus{ text-decoration:none }
.ft-tabs .tabs-list .active a{ border-left:10px solid #111; background:#f4f4f4 }
.list-check,.list-circle-check{ list-style:none }
.list-check li,.list-check li:before,.list-circle-check li,.list-circle-check li:before{ content:"\e01b"; position:absolute; left:0; font-family:linea-icon-font; color:#111 }
.list-circle-check li:before{ content:"\e081" }
.list-circle-check li:before{ content:"\e01c" }
.list-basic{ list-style:none }
.ft-layout-50 .ft-item .ft-content-wrapper{ padding:75px 15% 75px 100px; height:450px; background:#f4f4f4 }
.footer-social-links ul { display: inline-flex; flex-flow: wrap; font-size: .7rem }
.ft-layout-50 .ft-item .ft-img-wrapper{ position:relative; padding:0; height:450px; overflow:hidden }
.ft-hover-item .ft-item{ position:relative; height:440px; -webkit-transition:all .4s; transition:all .4s }
.ft-hover-item .ft-item .content-wrapper{ position:absolute; left:100px; right:100px; bottom:0; -webkit-transition:all .4s; transition:all .4s }
.ft-hover-item .ft-item .content-wrapper p{ margin:0; padding-bottom:45px; color:#ececec }
.ft-hover-item .ft-item .content-wrapper .ft-button{ opacity:0 }
.ft-hover-item .ft-item:hover{ background-size:103% }
.ft-hover-item .ft-item:hover .bg-overlay{ background:rgba(17,17,17,.8) }
.ft-hover-item .ft-item:hover .content-wrapper{ bottom:100px }
.ft-hover-item .ft-item:hover .content-wrapper .ft-button{ opacity:1 }
.ft-hover-item .ft-1 .bg-overlay,.ft-hover-item .ft-2 .bg-overlay{ content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(17,17,17,.55); -webkit-transition:background .4s; transition:background .4s }
.ft-hover-item .ft-2 .bg-overlay{ background:rgba(17,17,17,.4) }
.box{ width:60px; height:60px; background:#ececec; text-align:center }
.slider-nav{ display:inline-block; position:absolute; top:50%; width:50px; height:50px; border:none; background:#111; color:#ececec; -webkit-transition:background .3s; transition:background .3s }
.slider-nav:hover{ background:#373737 }
.slider-nav:focus{ outline:0 }
.testimonials-dark,.testimonials-parallax{ background:url(../assets/images/sea-2.jpg); background-size:cover; background-position:50%; background-attachment:fixed }
.testimonials-dark .bg-overlay,.testimonials-parallax .bg-overlay{ width:100%; height:100%; background:rgba(17,17,17,.5) }
.testimonials-dark .t-wrapper,.testimonials-parallax .t-wrapper{ position:relative; padding-top:100px; padding-bottom:100px; width:55%; margin:0 auto; text-align:center }
.testimonials-dark .t-wrapper:hover .t-slider-nav,.testimonials-parallax .t-wrapper:hover .t-slider-nav{ opacity:1 }
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404{6em; color:#ececec }
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 .t-type,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 .t-type,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404 .t-type,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404 .t-type{ display:block; padding-top:25px; padding-bottom:25px }
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404 footer,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404 footer{ padding-top:0 }
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer:before,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404 footer:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404 footer:before{ content:none }
.testimonials-dark .t-wrapper .t-slider-nav,.testimonials-parallax .t-wrapper .t-slider-nav{ display:inline-block; position:absolute; padding:7px 7px 0 7px; top:160px; border:2px solid #ececec; background:0 0; opacity:0; -webkit-transition:background .4s,opacity .6s; transition:background .4s,opacity .6s }
.testimonials-dark .t-wrapper .t-slider-nav span,.testimonials-parallax .t-wrapper .t-slider-nav span{ color:#ececec; -webkit-transition:color .4s; transition:color .4s }
.testimonials-dark .t-wrapper .t-slider-nav:hover,.testimonials-parallax .t-wrapper .t-slider-nav:hover{ background:#ececec }
.testimonials-dark .t-wrapper .t-slider-nav:hover span,.testimonials-parallax .t-wrapper .t-slider-nav:hover span{ color:#111 }
.testimonials-dark .t-wrapper .t-slider-nav:focus,.testimonials-parallax .t-wrapper .t-slider-nav:focus{ outline:0 }
.testimonials-dark .t-clients,.testimonials-parallax .t-clients{ display:block; list-style:none; margin:0 auto 100px auto; padding:0; width:80%; text-align:center; z-index:2 }
.testimonials-dark .t-clients li,.testimonials-parallax .t-clients li{ display:inline-block }
.testimonials-bg-2 .bg-overlay{ background:rgba(17,17,17,.65) }
.testimonials-dark{ background:#111 }
.testimonials-3col .t-item{ padding:40px 50px 50px 50px; border-top:1px solid #f8f8f8; box-shadow:0 1px 1px rgba(0,0,0,.2); background:#fff; text-align:center; -webkit-transition:all .3s; transition:all .3s }
.testimonials-3col .t-item:hover{ -webkit-transform:translateY(-10px); -ms-transform:translateY(-10px); transform:translateY(-10px); box-shadow:0 22px 43px rgba(0,0,0,.15) }
.testimonials-3col .t-item img{ border:8px solid #ececec; border-radius:100px }
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404{ color:#999 }
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 p,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 p{ margin:0; border-width:80% }
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 p:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 p:before{ content:''; display:block; position:relative; width:70%; margin:0 auto 30px auto; border-top:1px solid #ccc }
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 p:after,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 p:after{ content:''; display:block; position:relative; width:70%; margin:30px auto 0 auto; border-bottom:1px solid #ccc }
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 footer:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 footer:before{ content:none }
.testimonials-3col .t-item .t-icon{ color:#999 }
.testimonials-3col .t-clients li a img{ margin:auto }

.preloader{ position:fixed; top:0; left:0; right:0; bottom:0; background-color:#111; color: #fff; z-index:9999; text-align: center; }
.preloader img{ display:block; position:absolute; left:0; right:0; top:0; bottom:0; width:50px; height:50px; margin:auto }
.preloader h1{ display:block; position:absolute; left:0; right:0; top:0; bottom:0; width:200px; height:200px; margin:auto }
.scroller{ display:inline-block; position:absolute; bottom:15px; left:0; right:0; width:120px; margin:0 auto; text-align:center; color:rgba(235,235,235,.5) }
.scroller:focus{ color:inherit; text-decoration:none }
.scroller:hover{ color:#ebebeb }
.scroller:hover .scroller-text{ -webkit-transform:translateY(-10px); -ms-transform:translateY(-10px); transform:translateY(-10px); opacity:1 }
.scroller .scroller-text{ display:block; font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; letter-spacing:2.5px; text-transform:uppercase; color:#ececec; -webkit-transform:translateY(5px); -ms-transform:translateY(5px); transform:translateY(5px); opacity:0; -webkit-transition:all .3s; transition:all .3s }
.scroller-dark{ color:rgba(17,17,17,.5) }
.scroller-dark:hover{ color:#111 }
.scroller-dark .scroller-text{ color:#111 }

.agency2-hero{ position:relative; width:100%; height:100vh;}
.agency2-hero .bg-overlay{ position:absolute; height:100vh; width:100%; top:0; left:0; background:rgba(236,236,236,.6) }
.agency2-hero .hero-content-wrapper{ display:flex; position:absolute; top:0; left:0; width:100%; height:100vh }
.agency2-hero .hero-content-wrapper .hero-content{ display:table-cell; width:100vw; height:calc(100% - 25vh); vertical-align:middle }
.agency2-hero .hero-content-wrapper .hero-content .hero-subheading{ color:#999 }

.fw-slider-hero{ position:relative; width:100%; height:600px }
.fw-slider-hero .fw-slider .fw-slider-item{ position:relative; width:100%; height:600px }
.fw-slider-hero .fw-slider .fw-slider-item .bg-overlay{ position:absolute; width:100%; height:600px; top:0; left:0 }
.fw-slider-hero .fw-slider .fw-slider-item .hero-content-wrapper{ display:table; width:100%; height:600px }



.fw-slider-hero .fw-slider .fw-slider-item .hero-content-wrapper .hero-content{ display:table-cell; width:100%; height:600px; vertical-align:middle; text-align:center }
.fw-slider-hero .fw-slide-1 .bg-overlay,.fw-slider-hero .fw-slide-3 .bg-overlay{ background:rgba(17,17,17,.7) }
.fw-slider-hero .fw-slide-1 .hero-content-wrapper .hero-content .hero-lead,.fw-slider-hero .fw-slide-3 .hero-content-wrapper .hero-content .hero-lead{ font-weight:700; letter-spacing:20px; color:#ececec }
.fw-slider-hero .fw-slide-1 .hero-content-wrapper .hero-content .hero-subheading,.fw-slider-hero .fw-slide-3 .hero-content-wrapper .hero-content .hero-subheading{ color:#999 }
.fw-slider-hero .fw-slide-2 .bg-overlay{ background:rgba(17,17,17,.75) }
.fw-slider-hero .fw-slide-2 .hero-content-wrapper .hero-content{ text-align:left!important }
.fw-slider-hero .fw-slide-2 .hero-content-wrapper .hero-content .hero-lead{ font-weight:700; letter-spacing:5px; color:#ececec }
.fw-slider-hero .fw-slide-2 .hero-content-wrapper .hero-content .hero-subheading{ color:#999 }
.fw-slider-hero .fw-slide-3 .hero-content-wrapper .hero-content .hero-subheading{ margin:0 }
.text-slider-hero .bg-overlay{ background:rgba(17,17,17,.6) }
.text-slider-hero .hero-content-wrapper{ left:0; right:0 }
.text-slider-hero .hero-content-wrapper .hero-content{ text-align:center }
.text-slider-hero .hero-content-wrapper .hero-content .hero-lead{ font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; font-weight:800; letter-spacing:20px; color:#ececec }
.text-slider-hero .hero-content-wrapper .hero-content .hero-subheading{ color:#999 }

.agency2-hero{ background:url(../assets/images/hero/tri.jpg); background-size:cover; background-position:50%; background-attachment:fixed }
.agency2-hero .bg-overlay{ background:rgba(17,17,17,.5) }
.agency2-hero .large-header .demo-canvas{ max-width:100% }
.agency2-hero .hero-content-wrapper .hero-content{ text-align:center }
.agency2-hero { color:#ececec }
.agency2-hero .hero-content-wrapper .hero-content .hero-secondary{ letter-spacing:10px }
.app-hero{ height:100vh }
.app-hero .row{ position:relative; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%) }
.app-hero .hero-text{ padding-top:50px }
.app-hero .hero-text .hero-lead{ font-weight:700; letter-spacing:10px }
.app-hero .hero-text p{ color:#999 }
.app-hero .hero-img-container img{ height:475px }
.label{ border-radius:0 }
.label-dark{ background-color:#111 }
.label-red{ background-color:#db211e }
.label-gray{ background-color:#7e8c95 }
.label-lg{ padding:.55em .9em }
.label-sm{ padding:.1em .5em }


@media (max-width: 300px){
  h3 {
    font-size: 15px;
    font-weight: 600;
   1;
  }
  ul {
      display: inline;
  }
  #page-top {
      width: 100vw;
      font-size: 12px;
  }
  .hero-content {
    width: 100vw;
  }
  ft-item {
    font-size: 1.1rem;
  }
}


@media (max-width: 400px){

  ul {
      display: block;
  }
  #join-community {
    width: 90%;
    margin: 0 auto;
  }

  .hero-secondary {
    font-size: 14px;
  }
}

@media (max-height: 600px) {
  .bg-overlay {
    height: 600px;
  }
  .agency2-hero {
    height: 600px;
  }
  .hero-content {
    top: 100px;
  }
}

@media (max-width: 1260px){
  .dropdown-menu {
    position: relative;
  }
}


/* ---- Headers ---- */
@media (max-width: 770px) {
  .page-title {
    padding-right: 35px;
    padding-left: 35px;
  }

  .page-title .breadcrumb {
    display: block;
    margin-top: 50px;
    float: left;
    text-align: left;
  }
}

/* ---- Footers ---- */
@media (max-width: 992px) {
  .footer-widgets .about-widget {
    margin-bottom: 50px;
  }

  .footer-widgets .gallery-widget {
    margin-bottom: 50px;
  }

  .footer-widgets .gallery-widget ul {
    height: 86px;
  }

  .footer-widgets .twitter-widget {
    margin-bottom: 50px;
  }

  .footer-litle address ul li {
    margin-right: 50px;
  }

  .footer-contact form input[type="submit"] {
    margin-bottom: 130px;
  }

  .footer-contact form .alert {
    top: 60px !important;
  }
}

@media (max-width: 770px) {
  .copyright {
    text-align: center;
    margin-bottom: 3rem;
  }

  .copyright .to-the-top {
    float: none !important;
  }

  .footer-litle address ul li {
    display: block;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .footer-litle address ul li:last-child {
    margin-bottom: 0;
  }

  .footer-litle address ul li .adr-icon {
    margin-bottom: 15px;
    padding-right: 0;
    float: none;
  }

  .footer-litle address ul li .adr-group {
    float: none;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer-widgets .gallery-widget ul {
    height: 174px;
  }

  .footer-contact .contact-info address {
    padding-top: 160px;
    padding-left: 50px;
  }

  .footer-contact .contact-info address ul {
    display: block;
    width: 100%;
  }

  .footer-contact .contact-form {
    padding-left: 50px;
  }

  .footer-social-links ul li {
    margin-right: 0;
    margin-bottom: 15px;
    width: 33%;
  }

  .footer-social-links ul li:nth-child(2) {
    border-right: none;
    padding-left: 30px;
  }
}

/* ---- Features ---- */
@media (max-width: 1260px) {
  .ft-cards-2 .ft-card-item {
    width: 350px;
    height: auto;
    padding-bottom: 50px;
    margin: 0 auto 50px auto;
  }

  .ft-cards-2 .ft-card-item img {
    display: block;
    float: none;
    max-width: none;
  }

  .ft-cards-2 .ft-card-item .ft-content {
    display: block;
    float: none;
    width: auto;
  }

  .ft-boxed-hover ul li .hover-content {
    padding: 15px 30px;
  }

  .ft-boxed-hover ul li .hover-content a {
    margin-top: 10px;
  }

  .ft-tabs .tabs-list li a .tab-icon {
    float: left;
    padding-right: 100px;
  }

  .ft-tabs .tabs-list li a .tab-group {
    float: none;
  }

  .ft-hover-item .ft-item:hover {
    background-size: 155%;
  }

  .ft-hover-item .ft-1,
  .ft-hover-item .ft-2 {
    background-size: 150%;
  }
}

@media (max-width: 992px) {
  .ft-boxed-hover ul li .hover-content {
    padding: 30px;
  }

  .ft-tabs .tab-content {
    height: auto;
  }

  .ft-tabs .tab-content .tab-content-image {
    padding-bottom: 50px;
  }

  .ft-hover-item .ft-item .content-wrapper {
    left: 50px;
    right: 50px;
  }

  .app-welcome .download-btns .dl-btn {
    text-align: center;
    margin-bottom: 10px;
  }

  .ft-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ft-big-img-right {
    padding-left: 25px;
    padding-right: 25px;
  }

  .ft-big-img-right .ft-img-container {
    margin-top: 100px;
    padding: 0;
  }

  .ft-big-img-right .ft-img-container .ft-img {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
    height: auto;
    right: 0;
    padding-bottom: 100px;
  }

  .ft-big-img-right .ft-content {
    height: 500px;
    text-align: center;
  }

  .ft-big-img-left {
    padding-left: 25px;
    padding-right: 25px;
  }

  .ft-big-img-left .ft-img-container .ft-img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    top: 0;
    left: 0;
  }

  .ft-big-img-left .ft-content {
    height: 550px;
    text-align: center;
  }
}

@media (max-width: 770px) {
  .ft-boxed-hover ul li .hover-content {
    padding: 20px;
  }

  .ft-boxed-hover ul li .hover-content a {
    margin-top: 10px;
  }

  .ft-tabs .tabs-list li a {
    padding-left: 25px;
    padding-right: 25px;
  }

  .ft-tabs .tabs-list li a .tab-icon {
    float: left;
    padding-right: 25px;
  }

  .ft-tabs .tabs-list li a .tab-group {
    float: none;
  }
}

@media (max-width: 600px) {
  .ft-hover-item .ft-item:hover {
    background-size: 210%;
  }

  .ft-hover-item .ft-1,
  .ft-hover-item .ft-2 {
    background-size: 200%;
  }
}

/* ---- CTA - Call to Action ---- */
@media (max-width: 992px) {
  .cta-newsletter .cta-wrapper input[type="email"] {
    width: 85%;
  }
}

@media (max-width: 770px) {
  .cta-newsletter .cta-wrapper input[type="email"] {
    width: 85%;
    font-size: 2.2em;
  }
}

@media (max-width: 600px) {
  .cta-link .cta-wrapper h3 {
    letter-spacing: 3px;
  }

  .cta-newsletter .cta-wrapper input[type="email"] {
    font-size: 1.7em;
  }
}

/* ---- Counters ---- */
@media (max-width: 1260px) {

  .circles-counters,
  .circles-counters-minimal {
    background-attachment: initial;
  }

  .circles-counters .circle-item,
  .circles-counters-minimal .circle-item {
    margin-bottom: 50px;
  }

  .number-counters,
  .number-counters-minimal {
    background-attachment: initial;
  }

  .number-counters .nbr-item,
  .number-counters-minimal .nbr-item {
    margin-bottom: 50px;
  }
}

@media (max-width: 770px) {
  .circles-counters .circles-wrapper {
    margin-left: 35px;
    margin-right: 35px;
  }

  .number-counters .nbr-wrapper {
    margin-left: 35px;
    margin-right: 35px;
  }
}

/* ---- Sliders ---- */
@media (max-width: 992px) {
  .pr-slider {
    height: auto;
  }

  .pr-slider .pr-slider-overlay {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    height: 450px;
    background: #fff;
  }

  .pr-slider .pr-slider-overlay .pr-slider-content .content-item {
    padding: 0;
    background: rgba(255, 255, 255, 0.9) !important;
  }

  .pr-slider .pr-slider-overlay .pr-slider-content .slick-dots li {
    display: inline-block;
    margin-right: 10px;
    height: 12px;
    width: 12px;
    vertical-align: middle;
    border: 2px solid #111;
    border-radius: 100px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .pr-slider .pr-slider-overlay .pr-slider-content .slick-dots li button {
    display: none;
  }

  .pr-slider .pr-slider-overlay .pr-slider-content .slick-dots li:hover {
    background: #111;
    cursor: pointer;
  }

  .pr-slider .pr-slider-overlay .pr-slider-content .slick-dots .slick-active {
    border: 2px solid #111;
    background: #111;
    height: 12px;
    width: 12px;
  }
}

/* ---- Pricing ---- */
@media (max-width: 992px) {
  .pricing-tables .p-table {
    margin-bottom: 50px;
  }
}

/* ---- Team Layouts ---- */
@media (max-width: 1260px) {

  .team-3col .t-item,
  .team-4col .t-item {
    width: 360px;
    margin: 0 auto;
  }

  .team-3col .t-item:hover,
  .team-4col .t-item:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  }

  .team-3col .t-item:hover .t-image .t-description,
  .team-4col .t-item:hover .t-image .t-description {
    bottom: auto;
  }

  .team-3col .t-item:hover .t-image .t-description .content-wrapper,
  .team-4col .t-item:hover .t-image .t-description .content-wrapper {
    padding-top: 30px;
  }

  .team-3col .t-item .t-image,
  .team-4col .t-item .t-image {
    width: 360px;
    height: auto;
    overflow: visible;
  }

  .team-3col .t-item .t-image .t-description,
  .team-4col .t-item .t-image .t-description {
    position: relative;
    padding: 30px 30px 0 30px;
    bottom: auto;
    left: auto;
    height: auto;
    width: auto;
  }

  .team-3col .t-item .t-image .t-description .content-wrapper,
  .team-4col .t-item .t-image .t-description .content-wrapper {
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
  }

  .t-join {
    width: 360px;
    margin: 0 auto;
  }

  .freelancer-about .img-wrapper {
    max-width: 390px;
    margin-right: 10px;
  }

  .freelancer-about .img-wrapper .t-image {
    height: 390px;
  }

  .freelancer-about .img-wrapper .social-links li {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@media (max-width: 600px) {

  .team-3col .t-item,
  .team-4col .t-item {
    width: 320px;
    margin: 0 auto;
  }

  .team-3col .t-item:hover,
  .team-4col .t-item:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  }

  .team-3col .t-item:hover .t-image .t-description,
  .team-4col .t-item:hover .t-image .t-description {
    bottom: auto;
  }

  .team-3col .t-item:hover .t-image .t-description .content-wrapper,
  .team-4col .t-item:hover .t-image .t-description .content-wrapper {
    padding-top: 30px;
  }

  .team-3col .t-item .t-image,
  .team-4col .t-item .t-image {
    width: 320px;
    height: auto;
    overflow: visible;
  }

  .team-3col .t-item .t-image .t-description,
  .team-4col .t-item .t-image .t-description {
    position: relative;
    padding: 30px 30px 0 30px;
    bottom: auto;
    left: auto;
    height: auto;
    width: auto;
  }

  .team-3col .t-item .t-image .t-description .content-wrapper,
  .team-4col .t-item .t-image .t-description .content-wrapper {
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
  }

  .t-join {
    width: 320px;
  }

  .freelancer-about .img-wrapper {
    margin-right: 0 !important;
  }
}


@media (min-width: 1080px) {
  h3 {
    font-size: 1.25vw;
  }
  p {
    font-size: 1vw;
  }
  .hero-content img {
    width: 8%;
    height: auto;
  }
  .about-section {
    display: grid;
    justify-content: space-around;
    width: 33%;
    align-items: center;
  }
  .hero-lead {
      font-size: 5vw;
  }
  .hero-secondary {
      font-size: 2.5vw;
  }
  .col-row {  display: flex; flex-flow: row wrap;  }
  .ft-boxed-hover ul {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
  .ft-boxed-hover ul li {
    width: 65%; height: 100%; 
    font-size: .9vw;
  }
  .icon {
    padding: 1.25vw;
  }
  .slick-track img {
    width: 9vw;
  }
}

</style>