<style id="quick-interest-slider" type="text/css" media="screen">
    .qis_form.rounded {
      border: 0px solid #973;
    }

    form.qis_form {
      background: #FFF;
    }

    .qis_form {
      width: 550px;
      max-width: 100%;
      color: #000000;
    }

    .qis_form th {
      color: #000000;
    }

    .qis,
    .qis__fill {
      height: 1em;
      background: #969696;
    }

    .qis__fill {
      background: #cebc79;
    }
    
    .qis__handle {
      background: #ddc7a1;
      border: 1px solid #cebc79;
      width: 2em;
      height: 2em;
      position: absolute;
      top: -0.5em;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
      border-radius: 20%;
    }

    .rangeslider__value-bubble {
      border-color: #000000;
    }

    .rangeslider__vaue-bubble::before {
      border-top-color: #000000;
    }

    .total {
      font-weight: bold;
      border-top: 1px solid #FFF;
      margin-top: 6px;
      text-align: left;
      font-size: 2em;
    }

    .qis,
    .qis__fill {
      font-size: 1em;
      width: 100%;
    }

    .loanoutput {
      text-align: left;
      margin-bottom: 6px;
    }

    .qis-slideroutput {
      margin-top: 0.7em;
      color: #000000;
    }

    .qis-slidercenter {
      color: #506d42;
      font-size: 0em;
    }

    .qis-sliderleft,
    .qis-sliderright {
      color: #919191;
      font-size: 1em;
    }

    .qis-interest,
    .qis-repayments {
      color: #3f3f3f;
      font-size: 1em;
    }

    .qis-total {
      color: #ed9eaf;
      font-size: 0em;
    }

    .qis-table th {
      color: #ff0707;
      background: #eeee22;
      font-size: 0em;
    }

    .qis-table td {
      color: #c10064;
      background: #e89b9e;
      font-size: 0em;
    }

    .qis-table td .primary_interest,
    .qis-table td .secondary_interest,
    .qis-table td .primary_total,
    .qis-table td .qis_form h2,
    .qis_form .submit {
      background: #000000;
      color: #000000;
      text-align: center;
    }

    h2.toggle a:link,
    h2.toggle a:hover,
    h2.toggle a:visited,
    .applicationform .submit {
      color: #000000;
    }

    .qis-error-message {
      color: red !important;
      font-weight: bold;
    }

    .qis-error {
      border: 1px solid red !important;
    }
</style>