<style id="x-generated-css" type="text/css">
    a,
    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover,
    h6 a:hover,
    .x-topbar .p-info a:hover,
    .x-breadcrumb-wrap a:hover,
    .widget ul li a:hover,
    .widget ol li a:hover,
    .widget.widget_text ul li a,
    .widget.widget_text ol li a,
    .widget_nav_menu .current-menu-item>a,
    .x-widgetbar .widget ul li a:hover,
    .x-accordion-heading .x-accordion-toggle:hover,
    .x-comment-author a:hover,
    .x-comment-time:hover,
    .x-recent-posts a:hover .h-recent-posts {
      color: #ddc090;
    }

    a:hover,
    .widget.widget_text ul li a:hover,
    .widget.widget_text ol li a:hover,
    .x-twitter-widget ul li a:hover {
      color: #d80f0f;
    }

    .rev_slider_wrapper,
    a.x-img-thumbnail:hover,
    .x-slider-container.below,
    .page-template-template-blank-3-php .x-slider-container.above,
    .page-template-template-blank-6-php .x-slider-container.above {
      border-color: #ddc090;
    }

    .entry-thumb:before,
    .x-pagination span.current,
    .flex-direction-nav a,
    .flex-control-nav a:hover,
    .flex-control-nav a.flex-active,
    .mejs-time-current,
    .x-dropcap,
    .x-skill-bar .bar,
    .x-pricing-column.featured h2,
    .h-comments-title small,
    .x-entry-share .x-share:hover,
    .x-highlight,
    .x-recent-posts .x-recent-posts-img:after {
      background-color: #ddc090;
    }

    .x-nav-tabs>.active>a,
    .x-nav-tabs>.active>a:hover {
      box-shadow: inset 0 3px 0 0 #ddc090;
    }

    .x-main {
      width: 69.536945%;
    }

    .x-sidebar {
      width: 25.536945%;
    }

    .x-topbar .p-info,
    .x-topbar .p-info a,
    .x-navbar .desktop .x-nav>li>a,
    .x-navbar .desktop .sub-menu a,
    .x-navbar .mobile .x-nav li>a,
    .x-breadcrumb-wrap a,
    .x-breadcrumbs .delimiter {
      color: #999999;
    }

    .x-navbar .desktop .x-nav>li>a:hover,
    .x-navbar .desktop .x-nav>.x-active>a,
    .x-navbar .desktop .x-nav>.current-menu-item>a,
    .x-navbar .desktop .sub-menu a:hover,
    .x-navbar .desktop .sub-menu .x-active>a,
    .x-navbar .desktop .sub-menu .current-menu-item>a,
    .x-navbar .desktop .x-nav .x-megamenu>.sub-menu>li>a,
    .x-navbar .mobile .x-nav li>a:hover,
    .x-navbar .mobile .x-nav .x-active>a,
    .x-navbar .mobile .x-nav .current-menu-item>a {
      color: #272727;
    }

    .x-navbar .desktop .x-nav>li>a:hover,
    .x-navbar .desktop .x-nav>.x-active>a,
    .x-navbar .desktop .x-nav>.current-menu-item>a {
      box-shadow: inset 0 4px 0 0 #ddc090;
    }

    .x-navbar .desktop .x-nav>li>a {
      height: 0px;
      padding-top: 30px;
    }

    .x-navbar .desktop .x-nav>li ul {
      top: -15px;
      ;
    }
</style>