.pd-15px {
    padding-top: 15px;
}

.slick-track img {
	width: 100%;
}

/*hide address overflow*/
.ft-boxed-hover ul li .hover-content {
	overflow: hidden;
}

.no-gap ul {
  display: flex;
  flex-flow: row wrap;
}

#donation-link {
	font-size: 3rem;
}

.hero-content {
	top: 25vh;
	position: relative;
}

.bn-h3 {
	font-size: 11.5px;
	margin: 7px 0 10px 0;
	font-weight: 500;
}



.bg-solid-white{background:#fff!important}
.bg-solid-dark{background:#111}
.ft-x .ft-item{text-align:center}
.ft-boxed-hover ul li .hover-content .ft-x .ft-item .ft-heading,.ft-x .ft-item .ft-boxed-hover ul li .hover-content .ft-heading,.ft-x .ft-item h5,.ft-x .ft-item span{padding:0;width:110px;height:110px;line-height:109px}
.ft-x .ft-material:hover i,.ft-x .ft-material:hover span{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);box-shadow:0 22px 43px rgba(0,0,0,.15)}
.ft-x .ft-material i,.ft-x .ft-material span{display:inline-block;border:1px solid #f8f8f8;border-radius:100px;background:#fff;color:#777;box-shadow:0 1px 1px rgba(0,0,0,.2);-webkit-transition:all .3s;transition:all .3s}
.ft-x .ft-circle-overlay:hover i,.ft-x .ft-circle-overlay:hover span{background:#f4f4f4}
.ft-x .ft-circle-overlay i,.ft-x .ft-circle-overlay span{display:inline-block;color:#111;border-radius:100px;background:#ececec;border:10px solid #f4f4f4;line-height:90px;-webkit-transition:all .3s;transition:all .3s}
.ft-x .ft-basic i,.ft-x .ft-basic span{line-height:60px}
.ft-x .ft-item{text-align:left}
.ft-boxed-hover ul li .hover-content .ft-x .ft-item .ft-heading,.ft-x .ft-item .ft-boxed-hover ul li .hover-content .ft-heading,.ft-x .ft-item h5,.ft-x .ft-item i,.ft-x .ft-item span{display:inline-block;margin:25px 35px 50px 0;padding:28px 26px;width:85px;height:85px;float:left;line-height:28px;text-align:center;vertical-align:top}
.ft-x .ft-material i,.ft-x .ft-material span{color:#111}
.ft-x .ft-circle-overlay i,.ft-x .ft-circle-overlay span{padding:20px;border:10px solid #f4f4f4}
.ft-x .ft-basic i,.ft-x .ft-basic span{padding:0;line-height:64px}
.ft-x .right-align .ft-content{display:inline-block;width:62%;text-align:right}
.ft-x .right-align .ft-icon{float:right;display:inline-block;width:30%}
.ft-boxed-hover ul{margin:0;padding:0;list-style:none}
.ft-boxed-hover ul li{display:inline-block;position:relative;float:left;padding:50px;border:1px solid #ddd;background:#fff;text-align:center;-webkit-transition:border-color .3s;transition:border-color .3s}
.ft-boxed-hover ul li:hover{border-color:#111}
.ft-boxed-hover ul li:hover .hover-content{opacity:1}
.ft-boxed-hover ul li .ft-icon{color:#777}
.ft-boxed-hover ul li .h-alt{color:#999}
.ft-boxed-hover ul li .hover-content{display:block;position:absolute;padding:30px;top:0;left:0;width:100%;height:100%;background:#111;opacity:0;-webkit-transition:all .3s;transition:all .3s}
.ft-boxed-hover ul li .hover-content .ft-icon{position:absolute;display:block;top:50px;left:0;right:0;color:rgba(217,217,217,.15);z-index:1}
.ft-boxed-hover ul li .hover-content .ft-heading{display:block;margin:0;padding-bottom:15px;color:#ececec}
.ft-boxed-hover ul li .hover-content p{margin:0;color:#999}
.ft-boxed-hover ul li .hover-content a{display:inline-block;position:relative;color:#999;z-index:10!important}
.ft-boxed-hover ul li .hover-content a:hover{color:#ececec}
.ft-boxed-hover ul li .hover-content a:focus{outline:0}
.ft-tabs .tabs-list{list-style:none;padding:0;margin:0}
.ft-tabs .tabs-list li{border-top:1px solid #ececec;border-bottom:1px solid #ececec}
.ft-tabs .tabs-list li a,.ft-tabs .tabs-list li:nth-child(2){display:block;padding:50px;border-left:10px solid rgba(17,17,17,0)}
.ft-tabs .tabs-list li a:hover{background:#f8f8f8}
.ft-tabs .tabs-list li a:focus{text-decoration:none}
.ft-tabs .tabs-list .active a{border-left:10px solid #111;background:#f4f4f4}
.list-check,.list-circle-check{list-style:none}
.list-check li,.list-check li:before,.list-circle-check li,.list-circle-check li:before{content:"\e01b";position:absolute;left:0;font-family:linea-icon-font;color:#111}
.list-circle-check li:before{content:"\e081"}
.list-circle-check li:before{content:"\e01c"}
.list-basic{list-style:none}
.ft-layout-50 .ft-item .ft-content-wrapper{padding:75px 15% 75px 100px;height:450px;background:#f4f4f4}
.footer-social-links ul .ft-layout-50 .ft-item .ft-content-wrapper li,.ft-boxed-hover ul li .hover-content .ft-layout-50 .ft-item .ft-content-wrapper .ft-heading,.ft-boxed-hover ul li .hover-content .ft-layout-50 .ft-item .ft-content-wrapper a,.ft-layout-50 .ft-item .ft-content-wrapper .footer-social-links ul li,.ft-layout-50 .ft-item .ft-content-wrapper .ft-boxed-hover ul li .hover-content .ft-heading,.ft-layout-50 .ft-item .ft-content-wrapper .ft-boxed-hover ul li .hover-content a,.ft-layout-50 .ft-item .ft-content-wrapper .t-join .t-info .t-role,.ft-layout-50 .ft-item .ft-content-wrapper .team-3col .t-item .t-info .t-role,.ft-layout-50 .ft-item .ft-content-wrapper .team-4col .t-item .t-info .t-role,.ft-layout-50 .ft-item .ft-content-wrapper h4,.ft-layout-50 .ft-item .ft-content-wrapper h5,.ft-layout-50 .ft-item .ft-content-wrapper h6,.t-join .t-info .ft-layout-50 .ft-item .ft-content-wrapper .t-role,.team-3col .t-item .t-info .ft-layout-50 .ft-item .ft-content-wrapper .t-role,.team-4col .t-item .t-info .ft-layout-50 .ft-item .ft-content-wrapper .t-role{margin:0}
.footer-social-links ul .ft-layout-50 .ft-item .ft-content-wrapper li,.ft-boxed-hover ul li .hover-content .ft-layout-50 .ft-item .ft-content-wrapper a,.ft-layout-50 .ft-item .ft-content-wrapper .footer-social-links ul li,.ft-layout-50 .ft-item .ft-content-wrapper .ft-boxed-hover ul li .hover-content a,.ft-layout-50 .ft-item .ft-content-wrapper h6{color:#999}
.ft-layout-50 .ft-item .ft-img-wrapper{position:relative;padding:0;height:450px;overflow:hidden}
.ft-layout-50 .ft-item .ft-img-wrapper img{width:100%;max-width:100%;height:auto}
.ft-hover-item .ft-item{position:relative;height:440px;-webkit-transition:all .4s;transition:all .4s}
.ft-hover-item .ft-item .content-wrapper{position:absolute;left:100px;right:100px;bottom:0;-webkit-transition:all .4s;transition:all .4s}
.ft-boxed-hover ul li .hover-content .ft-hover-item .ft-item .content-wrapper .ft-heading,.ft-hover-item .ft-item .content-wrapper .ft-boxed-hover ul li .hover-content .ft-heading,.ft-hover-item .ft-item .content-wrapper .page-title .subheading,.ft-hover-item .ft-item .content-wrapper .t-join .t-info .t-role,.ft-hover-item .ft-item .content-wrapper .team-3col .t-item .t-info .t-role,.ft-hover-item .ft-item .content-wrapper .team-4col .t-item .t-info .t-role,.ft-hover-item .ft-item .content-wrapper h3,.ft-hover-item .ft-item .content-wrapper h4,.ft-hover-item .ft-item .content-wrapper h5,.page-title .ft-hover-item .ft-item .content-wrapper .subheading,.t-join .t-info .ft-hover-item .ft-item .content-wrapper .t-role,.team-3col .t-item .t-info .ft-hover-item .ft-item .content-wrapper .t-role,.team-4col .t-item .t-info .ft-hover-item .ft-item .content-wrapper .t-role{margin:0;padding-bottom:20px;color:#ececec}
.ft-hover-item .ft-item .content-wrapper p{margin:0;padding-bottom:45px;color:#ececec}
.ft-hover-item .ft-item .content-wrapper .ft-button{opacity:0}
.ft-hover-item .ft-item:hover{background-size:103%}
.ft-hover-item .ft-item:hover .bg-overlay{background:rgba(17,17,17,.8)}
.ft-hover-item .ft-item:hover .content-wrapper{bottom:100px}
.ft-hover-item .ft-item:hover .content-wrapper .ft-button{opacity:1}
.ft-hover-item .ft-1,.ft-hover-item .ft-2{background:#ccc url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/landing-ft-4.jpg);background-size:100%;background-position:50%;-webkit-transition:background-size .3s;transition:background-size .3s}
.ft-hover-item .ft-1 .bg-overlay,.ft-hover-item .ft-2 .bg-overlay{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(17,17,17,.55);-webkit-transition:background .4s;transition:background .4s}
.ft-hover-item .ft-2{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/bridge-2.jpg);background-size:100%;background-position:50%}
.ft-hover-item .ft-2 .bg-overlay{background:rgba(17,17,17,.4)}
.box{width:60px;height:60px;background:#ececec;text-align:center}
.slider-nav{display:inline-block;position:absolute;top:50%;width:50px;height:50px;border:none;background:#111;line-height:0;color:#ececec;-webkit-transition:background .3s;transition:background .3s}
.slider-nav:hover{background:#373737}
.slider-nav:focus{outline:0}
.testimonials-dark,.testimonials-parallax{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/sea-2.jpg);background-size:cover;background-position:50%;background-attachment:fixed}
.testimonials-dark .bg-overlay,.testimonials-parallax .bg-overlay{width:100%;height:100%;background:rgba(17,17,17,.5)}
.testimonials-dark .t-wrapper,.testimonials-parallax .t-wrapper{position:relative;padding-top:100px;padding-bottom:100px;width:55%;margin:0 auto;text-align:center}
.testimonials-dark .t-wrapper:hover .t-slider-nav,.testimonials-parallax .t-wrapper:hover .t-slider-nav{opacity:1}
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404{line-height:1.6em;color:#ececec}
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 .t-type,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 .t-type,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404 .t-type,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404 .t-type{display:block;padding-top:25px;padding-bottom:25px}
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404 footer,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404 footer{padding-top:0}
.testimonials-dark .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer:before,.testimonials-parallax .t-wrapper .wrapper-404 .content-wrapper .info-wrapper .info-404 footer:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-dark .t-wrapper .info-404 footer:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-parallax .t-wrapper .info-404 footer:before{content:none}
.testimonials-dark .t-wrapper .t-slider-nav,.testimonials-parallax .t-wrapper .t-slider-nav{display:inline-block;position:absolute;padding:7px 7px 0 7px;top:160px;border:2px solid #ececec;background:0 0;opacity:0;-webkit-transition:background .4s,opacity .6s;transition:background .4s,opacity .6s}
.testimonials-dark .t-wrapper .t-slider-nav span,.testimonials-parallax .t-wrapper .t-slider-nav span{color:#ececec;-webkit-transition:color .4s;transition:color .4s}
.testimonials-dark .t-wrapper .t-slider-nav:hover,.testimonials-parallax .t-wrapper .t-slider-nav:hover{background:#ececec}
.testimonials-dark .t-wrapper .t-slider-nav:hover span,.testimonials-parallax .t-wrapper .t-slider-nav:hover span{color:#111}
.testimonials-dark .t-wrapper .t-slider-nav:focus,.testimonials-parallax .t-wrapper .t-slider-nav:focus{outline:0}
.testimonials-dark .t-clients,.testimonials-parallax .t-clients{display:block;list-style:none;margin:0 auto 100px auto;padding:0;width:80%;text-align:center;z-index:2}
.testimonials-dark .t-clients li,.testimonials-parallax .t-clients li{display:inline-block}
.testimonials-bg-2{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/testimonials-bg-2.jpg);background-size:cover;background-position:50%;background-attachment:fixed}
.testimonials-bg-2 .bg-overlay{background:rgba(17,17,17,.65)}
.testimonials-dark{background:#111}
.testimonials-3col .t-item{padding:40px 50px 50px 50px;border-top:1px solid #f8f8f8;box-shadow:0 1px 1px rgba(0,0,0,.2);background:#fff;text-align:center;-webkit-transition:all .3s;transition:all .3s}
.testimonials-3col .t-item:hover{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);box-shadow:0 22px 43px rgba(0,0,0,.15)}
.testimonials-3col .t-item img{border:8px solid #ececec;border-radius:100px}
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404{color:#999}
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 p,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 p{margin:0;border-width:80%}
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 p:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 p:before{content:'';display:block;position:relative;width:70%;margin:0 auto 30px auto;border-top:1px solid #ccc}
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 p:after,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 p:after{content:'';display:block;position:relative;width:70%;margin:30px auto 0 auto;border-bottom:1px solid #ccc}
.testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404 footer:before,.wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404 footer:before{content:none}
.testimonials-3col .t-item .t-icon{color:#999}
.testimonials-3col .t-clients li a img{margin:auto}
.preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#111;z-index:9999}
.preloader img{display:block;position:absolute;left:0;right:0;top:0;bottom:0;width:50px;height:50px;margin:auto}
.scroller{display:inline-block;position:absolute;bottom:15px;left:0;right:0;width:120px;margin:0 auto;text-align:center;color:rgba(235,235,235,.5)}
.scroller:focus{color:inherit;text-decoration:none}
.scroller:hover{color:#ebebeb}
.scroller:hover .scroller-text{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);opacity:1}
.scroller .scroller-text{display:block;font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;letter-spacing:2.5px;text-transform:uppercase;color:#ececec;-webkit-transform:translateY(5px);-ms-transform:translateY(5px);transform:translateY(5px);opacity:0;-webkit-transition:all .3s;transition:all .3s}
.scroller-dark{color:rgba(17,17,17,.5)}
.scroller-dark:hover{color:#111}
.scroller-dark .scroller-text{color:#111}
.agency2-hero,.main-demo-hero,.text-slider-hero{position:relative;width:100%;height:100vh;background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/hero/fog.jpg);background-size:cover;background-attachment:fixed}
.agency2-hero .bg-overlay,.main-demo-hero .bg-overlay,.text-slider-hero .bg-overlay{position:absolute;height:100vh;width:100%;top:0;left:0;background:rgba(236,236,236,.6)}
.agency2-hero .hero-content-wrapper,.main-demo-hero .hero-content-wrapper,.text-slider-hero .hero-content-wrapper{display:flex;position:absolute;top:0;left:0;width:100%;height:100vh}
.agency2-hero .hero-content-wrapper .hero-content,.main-demo-hero .hero-content-wrapper .hero-content,.text-slider-hero .hero-content-wrapper .hero-content{display:table-cell;width:100vw;height:100%;vertical-align:middle}
.agency2-hero .hero-content-wrapper .hero-content .hero-subheading,.main-demo-hero .hero-content-wrapper .hero-content .hero-subheading,.text-slider-hero .hero-content-wrapper .hero-content .hero-subheading{color:#999}
.fw-slider-hero{position:relative;width:100%;height:600px}
.fw-slider-hero .fw-slider .fw-slider-item{position:relative;width:100%;height:600px}
.fw-slider-hero .fw-slider .fw-slider-item .bg-overlay{position:absolute;width:100%;height:600px;top:0;left:0}
.fw-slider-hero .fw-slider .fw-slider-item .hero-content-wrapper{display:table;width:100%;height:600px}
.fw-slider-hero .fw-slider .fw-slider-item .hero-content-wrapper .hero-content{display:table-cell;width:100%;height:600px;vertical-align:middle;text-align:center}
.fw-slider-hero .fw-slide-1,.fw-slider-hero .fw-slide-3{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/hero/man-rocks.jpg);background-size:cover;background-position:50%}
.fw-slider-hero .fw-slide-1 .bg-overlay,.fw-slider-hero .fw-slide-3 .bg-overlay{background:rgba(17,17,17,.7)}
.fw-slider-hero .fw-slide-1 .hero-content-wrapper .hero-content .hero-lead,.fw-slider-hero .fw-slide-3 .hero-content-wrapper .hero-content .hero-lead{font-weight:700;letter-spacing:20px;color:#ececec}
.fw-slider-hero .fw-slide-1 .hero-content-wrapper .hero-content .hero-subheading,.fw-slider-hero .fw-slide-3 .hero-content-wrapper .hero-content .hero-subheading{color:#999}
.fw-slider-hero .fw-slide-2{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/hero/edge.jpg);background-size:cover;background-position:50%}
.fw-slider-hero .fw-slide-2 .bg-overlay{background:rgba(17,17,17,.75)}
.fw-slider-hero .fw-slide-2 .hero-content-wrapper .hero-content{text-align:left!important}
.fw-slider-hero .fw-slide-2 .hero-content-wrapper .hero-content .hero-lead{font-weight:700;letter-spacing:5px;color:#ececec}
.fw-slider-hero .fw-slide-2 .hero-content-wrapper .hero-content .hero-subheading{color:#999}
.fw-slider-hero .fw-slide-3{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/hero/coffe.jpg);background-size:cover;background-position:50%}
.fw-slider-hero .fw-slide-3 .hero-content-wrapper .hero-content .hero-subheading{margin:0}
.text-slider-hero{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/hero/text-slider.jpg);background-size:cover;background-position:50%}
.text-slider-hero .bg-overlay{background:rgba(17,17,17,.6)}
.text-slider-hero .hero-content-wrapper{left:0;right:0}
.text-slider-hero .hero-content-wrapper .hero-content{text-align:center}
.text-slider-hero .hero-content-wrapper .hero-content .hero-lead{font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;font-weight:800;letter-spacing:20px;color:#ececec}
.text-slider-hero .hero-content-wrapper .hero-content .hero-subheading{color:#999}
.agency-hero{position:relative;width:100%;height:100vh;text-align:center;background:#eee}
.agency-hero .hero-wrapper{position:absolute;top:0;left:0;width:100%;height:100%}
.agency-hero .hero-wrapper .hero-content{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.agency-hero .hero-wrapper .hero-content .lead-img{max-width:100%;height:auto}
.agency-hero .hero-wrapper .hero-content .text-wrapper{display:block;padding-top:160px;text-align:center}
.agency-hero .hero-wrapper .hero-content .text-wrapper .t-join .t-info .t-role,.agency-hero .hero-wrapper .hero-content .text-wrapper .team-3col .t-item .t-info .t-role,.agency-hero .hero-wrapper .hero-content .text-wrapper .team-4col .t-item .t-info .t-role,.agency-hero .hero-wrapper .hero-content .text-wrapper h4,.t-join .t-info .agency-hero .hero-wrapper .hero-content .text-wrapper .t-role,.team-3col .t-item .t-info .agency-hero .hero-wrapper .hero-content .text-wrapper .t-role,.team-4col .t-item .t-info .agency-hero .hero-wrapper .hero-content .text-wrapper .t-role{color:#777}
.agency-hero .hero-wrapper .hero-content .text-wrapper p{color:#999}
.agency2-hero{background:url(https://danielclough.github.io/blackcoin.org_11ty/assets/images/hero/tri.jpg);background-size:cover;background-position:50%;background-attachment:fixed}
.agency2-hero .bg-overlay{background:rgba(17,17,17,.5)}
.agency2-hero .large-header .demo-canvas{max-width:100%}
.agency2-hero .hero-content-wrapper .hero-content{text-align:center}
.agency2-hero .hero-content-wrapper .hero-content .footer-social-links ul li,.agency2-hero .hero-content-wrapper .hero-content .ft-boxed-hover ul li .hover-content a,.agency2-hero .hero-content-wrapper .hero-content .page-title .subheading,.agency2-hero .hero-content-wrapper .hero-content .t-join .t-info .t-role,.agency2-hero .hero-content-wrapper .hero-content .team-3col .t-item .t-info .t-role,.agency2-hero .hero-content-wrapper .hero-content .team-4col .t-item .t-info .t-role,.agency2-hero .hero-content-wrapper .hero-content h1,.agency2-hero .hero-content-wrapper .hero-content h2,.agency2-hero .hero-content-wrapper .hero-content h3,.agency2-hero .hero-content-wrapper .hero-content h4,.agency2-hero .hero-content-wrapper .hero-content h6,.footer-social-links ul .agency2-hero .hero-content-wrapper .hero-content li,.ft-boxed-hover ul li .hover-content .agency2-hero .hero-content-wrapper .hero-content a,.page-title .agency2-hero .hero-content-wrapper .hero-content .subheading,.t-join .t-info .agency2-hero .hero-content-wrapper .hero-content .t-role,.team-3col .t-item .t-info .agency2-hero .hero-content-wrapper .hero-content .t-role,.team-4col .t-item .t-info .agency2-hero .hero-content-wrapper .hero-content .t-role{color:#ececec}
.agency2-hero .hero-content-wrapper .hero-content .hero-secondary{letter-spacing:10px}
.app-hero{height:100vh}
.app-hero .row{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.app-hero .hero-text{padding-top:50px}
.app-hero .hero-text .hero-lead{font-weight:700;letter-spacing:10px}
.app-hero .hero-text p{color:#999}
.app-hero .hero-img-container img{height:475px}
.label{border-radius:0}
.label-dark{background-color:#111}
.label-red{background-color:#db211e}
.label-gray{background-color:#7e8c95}
.label-lg{padding:.55em .9em}
.label-sm{padding:.1em .5em}