.pd-15px {
    padding-top: 15px;
}

.slick-track img {
	width: 100%;
}

/*hide address overflow*/
.ft-boxed-hover ul li .hover-content {
	overflow: hidden;
}

.no-gap ul {
  display: flex;
  flex-flow: row wrap;
}

#donation-link {
	font-size: 3rem;
}

.hero-content {
	top: 25vh;
	position: relative;
}

.bn-h3 {
	font-size: 12px;
	margin: 10px 0 10px 0;
}