---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% include "home/hero.njk" %}
{% include "home/about-blackcoin.njk" %}
{% include "home/exchange-list.njk" %}
{% include "home/downloads.njk" %}
{% include "home/social-media.njk" %}
{% include "home/donations.njk" %}
{% include "home/social-links.njk" %}