---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

  <!-- ========== About BlackCoin ========== -->

  <section class="container section ft-x">
    <div class="row">
      <header class="sec-heading">
        <a name="about">
          <h2>About BlackCoin</h2>
        </a>
      </header>

      <!-- Feature 1 -->
      <div class="col-lg-4 mb-sm-100 wow fadeInLeft" data-wow-duration=".8s">

        <!-- Ft Icon 1 (left) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <div class="ft-content">
            <h5>PROOF OF STAKE 3.0</h5>
            <p> Users who keep their wallet open to secure the network via staking will get from 1% to 8% rewards per
              year (varies according to network weight). <a href="https://blackcoin.org/faq/">Read More...</a></p>
          </div>
          <div class="ft-icon">
            <i class="fa fa-star-o"></i>
          </div>
        </div><!-- / .ft-item -->
        <br>

        <!-- Ft Icon 2 (left) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <div class="ft-content">
            <h5>ECO-FRIENDLY</h5>
            <p>Based on Proof-of-Stake. No more power hungry mining hardware.</p>
          </div>
          <div class="ft-icon">
            <i class="fa fa-tree"></i>
          </div>
        </div><!-- / .ft-item -->
        <br><br>

        <!-- Ft Icon 3 (left) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <div class="ft-content">
            <h5>TRANSPARENT LEDGER</h5>
            <p>Everyone shares the ledger history, so it's entirely transparent.</p>
          </div>
          <div class="ft-icon">
            <i class="fa fa-user"></i>
          </div>
        </div><!-- / .ft-item -->

      </div><!-- / .col-lg-4 -->

      <!-- Center Image -->
      <div class="col-lg-4">
        <img defer src="assets/images/blkb.png" alt="Blackcoin B" class="img-responsive center-block wow fadeInUp"
          data-wow-duration="1s" data-wow-delay=".1s">
      </div>

      <!-- Features Left -->
      <div class="col-lg-4 wow fadeInRight" data-wow-duration=".8s">


        <!-- Ft Icon 4 (right) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <i class="fa fa-code"></i>
          <h5>OPEN SOURCE SOFTWARE</h5>
          <p>The software (wallet) is open source, so its safety can be audited.</p>
        </div><!-- / .ft-item -->
        <br><br><br>

        <!-- Ft Icon 5 (right) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <i class="fa fa-flash"></i>
          <h5>FAST TRANSACTIONS</h5>
          <p>It is extremely fast, you can send money to anyone in the world within seconds.</p>
        </div><!-- / .ft-item -->
        <br><br><br>

        <!-- Ft Icon 6 (right) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <i class="fa fa-eye"></i>
          <h5>ANONYMOUS</h5>
          <p>Anyone can run the wallet and transact with the same anonymity as Bitcoin. No personal identifying
            information is required.</p>
        </div><!-- / .ft-item -->

      </div><!-- / .col-lg-4 -->

    </div><!-- / .row -->


  </section><!-- / .container -->



  <!-- ========== Social Media - Dark ========== -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <div class="cta-wrapper">
          <br />
          <center>
            <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s"><a name="community"><span
                  style="color: #FFFFFF;">Join The BlackCoin Community</span></a></h3>
          </center>
        </div>
        <div class="row">
          <div class="ws-s"></div>
          <ul class="t-clients clients-slider ws-s">
            <li><a href="https://twitter.com/BlackcoinOrg" target="_blank" rel="noopener"><img defer src="assets/images/twitterORG.png" alt="BlackcoinOrg Twitter">BlackcoinOrg Twitter</a></li>
            <li><a href="https://twitter.com/BlackcoinNL" target="_blank" rel="noopener"><img defer src="assets/images/twitterNL.png" alt="BlackcoinNL Twitter">BlackcoinNL Twitter</a></li>
            <li><a href="https://t.me/blackcoin" target="_blank" rel="noopener"><img defer src="assets/images/telegramORG.png" alt="Telegram">Telegram</a></li>
            <li><a href="https://t.me/blackcoinNL" target="_blank" rel="noopener"><img defer src="assets/images/telegramNL.png" alt="BlackcoinNL Telegram">BlackcoinNL Telegram</a></li>
            <li><a href="https://keybase.io/team/blackcoin" target="_blank" rel="noopener"><img defer src="assets/images/keybase.png" alt="Keybase">Keybase</a></li>
            <li><a href="https://discord.gg/hjNUgWD" target="_blank" rel="noopener"><img defer src="assets/images/discord.png" alt="Discord">Discord</a></li>
            <li><a href="https://bitcointalk.org/index.php?topic=3017838.new#new" target="_blank" rel="noopener"><img defer src="assets/images/bitcointalk.png" alt="Bitcointalk">Bitcointalk</a></li>
            <li><a href="https://webchat.freenode.net/?channels=%23blackcoin" target="_blank" rel="noopener"><img defer src="assets/images/irc.png" alt="IRC">IRC</a></li>
            <li><a href="https://gitter.im/BlackCoin_Hub" target="_blank" rel="noopener"><img defer src="assets/images/gitter.png" alt="Gitter">Gitter</a></li>
            <li><a href="https://facebook.com/BlackcoinOrg" target="_blank" rel="noopener"><img defer src="assets/images/facebook.png" alt="Facebook">Facebook</a></li>

          </ul><!-- / .t-clients -->
        </div><!-- / .row -->
      </div><!-- / .container -->
    </div><!-- / .bg-overlay -->
  </div><!-- / .testimonials-parallax -->

  <!-- ========== Exchanges List - Dark ========== -->

  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <div class="cta-wrapper">
          <br />
          <center>
            <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s"><a name="buy"><span
                  style="color: #FFFFFF;">WHERE TO BUY</span></a></h3>
          </center>
        </div>
        <div class="row">
          <div class="ws-s"></div>
          <ul class="t-clients clients-slider ws-s">
            <li><a href="https://bittrex.com/Market/Index?MarketName=BTC-BLK"><img class="exchange" defer src="assets/images/e1.png" alt="Link to Bittrex Exchange">Bittrex Exchange</a></li>
            <li><a href="https://www.litebit.eu/en/buy/blackcoin"><img class="exchange" defer src="assets/images/litebit.svg" alt="Link to LiteBit Exchange">LiteBit Exchange</a></li>
            <li><a href="https://www.aex.com/page/trade.html#/?symbol=blk_btc"><img defer src="assets/images/aex.png" alt="Link to AEX Exchange">AEX Exchange</a></li>
            <li><a href="https://www.bitladon.com/blackcoin"><img class="exchange" defer src="assets/images/bitladon.png" alt="Bitladon Exchange">Bitladon Exchange</a></li>
            <li><a href="https://vinex.network/trading/advanced/BTC_BLK"><img class="exchange" defer src="assets/images/vinex.png" alt="Link to Vinex Exchange">Vinex Exchange</a></li>
            <li><a href="https://anycoindirect.eu/en/buy/blackcoins"><img class="exchange" defer src="assets/images/anycoindirect.png" alt="Link to AnyCoinDirect Exchange">AnyCoinDirect Exchange</a></li>
            <li><a href="https://holytransaction.com/"><img class="exchange" defer src="assets/images/e3.png" alt="Link to HolyTransaction Exchange">HolyTransaction Exchange</a></li>
            <li><a href="https://shapeshift.io/"><img class="exchange" defer src="assets/images/shapeshift.png" alt="Link to ShapeShift Exchange">ShapeShift Exchange</a></li>
          </ul><!-- / .t-clients -->
          <center>
            <h6><span><span style="color: #CCC;"><i class="fa fa-info-circle"></i> Check </span><a href="https://www.coingecko.com/en/coins/blackcoin">Markets Volume</a></span></h6>
          </center>
          <br>
        </div><!-- / .row -->
      </div><!-- / .container -->
    </div><!-- / .bg.overlay -->
  </div><!-- / .testimonials-parallax -->



  <!-- ========== Downloads ========== -->

  <div class="gray-bg">
    <section id="services" class="container section ft-boxed-hover">
      <div class="row">
        <header class="sec-heading">
          <a name="downloads">
            <h2>Downloads</h2>
          </a>
          <span class="subheading">BlackCoin official files</span>
        </header>
        <div class="row no-gap">
          <ul>
            <!-- Item 1 -->
            <li>
                <img alt="Blackcoin More Logo" style="margin: 0;" defer src="assets/images/more.png">
              <h5>MORE WALLET</h5>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Blackcoin More v2.13.2.8</span><br>
                <a href="https://blackcoinmore.org" ><img defer src="assets/images/logo-more-bw-sm.png">png</a><br>
                <p class="pd-15px">The community supported wallet.</p>
              </div><!-- / .hover-content -->
            </li>
            <!-- Item 2 -->
            <li>
                <img alt="Mobile Wallets" style="margin: 0;" defer src="assets/images/mwallets.png">
              <h5>MOBILE WALLETS</h5>
              <div class="hover-content">
                <a href="https://coinomi.com/"><span><img alt="Coinomi Logo" defer src="assets/images/coinomi.png"> </span></a><br>
                <a href="https://abra.com/"><span><img alt="Abra Logo" defer src="assets/images/abra-logo-white.svg"> </span></a><br>
              </div><!-- / .hover-content -->
            </li>

            <!-- Item 3 -->
            <li>
                <img alt="Blackhalo Logo" style="margin: 0;" defer src="assets/images/blackhalo2.png">
              <h5>BLACKHALO</h5>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Blackhalo</span><br>
                <a href="https://blackhalo.info/#section-call-to-actiontwo"><span>All platforms
                    downloads</span><img alt="Blackhalo Logo" defer src="assets/images/blackhalo2.png">png</a><br>
              </div><!-- / .hover-content -->
            </li>
            <!-- Item 4 -->
            <li>
                <img alt="Blackcoin Logo" style="margin: 0;" defer src="assets/images/original.png">
              <h5>LEGACY WALLET</h5>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Legacy v1.2.x</span><br>
                <a href="https://gitlab.com/blackcoin/blackcoin/-/blob/master/README.md"><span>Gitlab Source
                    Code</span></span></a><br>
              </div><!-- / .hover-content -->
            </li>
          </ul>
        </div>
      </div><!-- / .row -->
    </section><!-- / .cotnainer -->
  </div><!-- / .gray-bg -->

  <!-- ====== Support BlackCoin ========== -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <br>
        <center><a name="support">
            <h3><span style="color: #ffffff;">Support BlackCoin</span></h3>
          </a></center>
        <br><br>
        <center>
          <h6>
            <!--<a href="bounties/">Bounties</a><span style="color: #A0A0A0;">&emsp; | &emsp;</span>--><a id="donation-link"
              href="donations/">Donations</a></h6>
          <center>
            <br><br>
          </center>
        </center>
      </div><!-- / .container -->
    </div><!-- / .dark-bg -->
  </div>

  <!-- Social Links -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <div class="container footer-social-links">
          <div class="row">
            <ul>
              <li><a href="https://bitcointalk.org/index.php?topic=3017838.new#new">Bitcointalk</a></li>
              <li><a href="https://discord.gg/hjNUgWD">Discord</a></li>
              <li><a href="https://webchat.freenode.net/?channels=%23blackcoin">IRC</a></li>
              <li><a href="https://twitter.com/BlackcoinOrg">BlackcoinOrg Twitter</a></li>
              <li><a href="https://facebook.com/BlackcoinOrg">BlackcoinOrg Facebook</a></li>
              <li><a href="https://t.me/blackcoinOrg">BlackcoinOrg Telegram</a></li>
              <li><a href="https://twitter.com/BlackcoinNL">BlackcoinNL Twitter</a></li>
              <li><a href="https://t.me/blackcoinNL">BlackcoinNL Telegram</a></li>
              <li><a href="https://keybase.io/team/blackcoin">Keybase</a></li>
            </ul>
          </div>
        </div><!-- / .container -->
      </div><!-- / .dark-bg -->
    </div>
  </div>