---
layout: home.njk
eleventyNavigation:
  key: Home
  order: 1
---

  <!-- ========== About BlackCoin ========== -->

  <section class="container section ft-x">
    <div class="row">
      <header class="sec-heading">
        <a name="about">
          <h2>About BlackCoin</h2>
        </a>
      </header>

      <!-- Feature 1 -->
      <div class="col-lg-4 mb-sm-100 wow fadeInLeft" data-wow-duration=".8s">

        <!-- Ft Icon 1 (left) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <div class="ft-content">
            <h3>PROOF OF STAKE 3.0</h3>
            <p> Users who keep their wallet open to secure the network via staking will get from 1% to 8% rewards per
              year (varies according to network weight). <a href="https://blackcoin.org/faq/">Read More...</a></p>
          </div>
          <div class="ft-icon">
            <i class="fa fa-star-o"></i>
          </div>
        </div><!-- / .ft-item -->
        <br>

        <!-- Ft Icon 2 (left) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <div class="ft-content">
            <h3>ECO-FRIENDLY</h3>
            <p>Based on Proof-of-Stake. No more power hungry mining hardware.</p>
          </div>
          <div class="ft-icon">
            <i class="fa fa-tree"></i>
          </div>
        </div><!-- / .ft-item -->
        <br><br>

        <!-- Ft Icon 3 (left) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <div class="ft-content">
            <h3>TRANSPARENT LEDGER</h3>
            <p>Everyone shares the ledger history, so it's entirely transparent.</p>
          </div>
          <div class="ft-icon">
            <i class="fa fa-user"></i>
          </div>
        </div><!-- / .ft-item -->

      </div><!-- / .col-lg-4 -->

      <!-- Center Image -->
      <div class="col-lg-4">
        {% image "./src/assets/images/blkb.png", "Blackcoin B" %}
      </div>

      <!-- Features Left -->
      <div class="col-lg-4 wow fadeInRight" data-wow-duration=".8s">


        <!-- Ft Icon 4 (right) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <i class="fa fa-code"></i>
          <h3>OPEN SOURCE</h3>
          <p>The software (wallet) is open source, so its safety can be audited.</p>
        </div><!-- / .ft-item -->
        <br><br><br>

        <!-- Ft Icon 5 (right) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <i class="fa fa-flash"></i>
          <h3>FAST TRANSACTIONS</h3>
          <p>It is extremely fast, you can send money to anyone in the world within seconds.</p>
        </div><!-- / .ft-item -->
        <br><br><br>

        <!-- Ft Icon 6 (right) -->
        <div class="col-md-12 no-gap ft-item ft-material right-align">
          <i class="fa fa-eye"></i>
          <h3>ANONYMOUS</h3>
          <p>Anyone can run the wallet and transact with the same anonymity as Bitcoin. No personal identifying
            information is required.</p>
        </div><!-- / .ft-item -->

      </div><!-- / .col-lg-4 -->

    </div><!-- / .row -->


  </section><!-- / .container -->



  <!-- ========== Social Media - Dark ========== -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <div class="cta-wrapper">
          <br />
          <center>
            <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s"><a name="community" alt="Join the Blackcoin Community!"><span
                  style="color: #FFFFFF;">Join The BlackCoin Community</span></a></h3>
          </center>
        </div>
        <div class="row">
          <div class="ws-s"></div>
          <ul class="t-clients clients-slider ws-s">
            <li><a href="https://twitter.com/BlackcoinOrg" target="_blank" rel="noopener">{% image "./src/assets/images/twitterORG.png", "BlackcoinOrg Twitter" %}>BlackcoinOrg Twitter</a></li>
            <li><a href="https://twitter.com/BlackcoinNL" target="_blank" rel="noopener">{% image "./src/assets/images/twitterNL.png", "BlackcoinNL Twitter" %}>BlackcoinNL Twitter</a></li>
            <li><a href="https://t.me/blackcoin" target="_blank" rel="noopener">{% image "./src/assets/images/telegramORG.png", "Telegram" %}>Telegram</a></li>
            <li><a href="https://t.me/blackcoinNL" target="_blank" rel="noopener">{% image "./src/assets/images/telegramNL.png", "BlackcoinNL Telegram" %}>BlackcoinNL Telegram</a></li>
            <li><a href="https://keybase.io/team/blackcoin" target="_blank" rel="noopener">{% image "./src/assets/images/keybase.png", "Keybase" %}>Keybase</a></li>
            <li><a href="https://discord.gg/hjNUgWD" target="_blank" rel="noopener">{% image "./src/assets/images/discord.png", "Discord" %}>Discord</a></li>
            <li><a href="https://bitcointalk.org/index.php?topic=3017838.new#new" target="_blank" rel="noopener">{% image "./src/assets/images/bitcointalk.png", "Bitcointalk" %}>Bitcointalk</a></li>
            <li><a href="https://webchat.freenode.net/?channels=%23blackcoin" target="_blank" rel="noopener">{% image "./src/assets/images/irc.png", "IRC" %}>IRC</a></li>
            <li><a href="https://gitter.im/BlackCoin_Hub" target="_blank" rel="noopener">{% image "./src/assets/images/gitter.png", "Gitter" %}>Gitter</a></li>
            <li><a href="https://facebook.com/BlackcoinOrg" target="_blank" rel="noopener">{% image "./src/assets/images/facebook.png", "Facebook" %}>Facebook</a></li>

          </ul><!-- / .t-clients -->
        </div><!-- / .row -->
      </div><!-- / .container -->
    </div><!-- / .bg-overlay -->
  </div><!-- / .testimonials-parallax -->

  <!-- ========== Exchanges List - Dark ========== -->

  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <div class="cta-wrapper">
          <br />
          <center>
            <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s"><a name="buy"><span
                  style="color: #FFFFFF;">WHERE TO BUY</span></a></h3>
          </center>
        </div>
        <div class="row">
          <div class="ws-s"></div>
          <ul class="t-clients clients-slider ws-s">
            <li><a href="https://bittrex.com/Market/Index?MarketName=BTC-BLK">{% image "./src/assets/images/e1.png", "Link to Bittrex Exchange" %}>Bittrex</a></li>
            <li><a href="https://www.aex.com/page/trade.html#/?symbol=blk_btc">{% image "./src/assets/images/aex.png", "Link to AEX Exchange" %}>AEX</a></li>
            <li><a href="https://www.bitladon.com/blackcoin">{% image "./src/assets/images/bitladon.png", "Bitladon Exchange" %}>Bitladon</a></li>
            <li><a href="https://vinex.network/trading/advanced/BTC_BLK">{% image "./src/assets/images/vinex.png", "Link to Vinex" %}>Vinex Exchange</a></li>
            <li><a href="https://anycoindirect.eu/en/buy/blackcoins">{% image "./src/assets/images/anycoindirect.png", "Link to AnyCoinDirect" %}>AnyCoinDirect Exchange</a></li>
            <li><a href="https://holytransaction.com/">{% image "./src/assets/images/e3.png", "Link to HolyTransaction Exchange" %}>HolyTransaction</a></li>
            <li><a href="https://shapeshift.io/">{% image "./src/assets/images/shapeshift.png", "Link to ShapeShift Exchange" %}>ShapeShift</a></li>
          </ul><!-- / .t-clients -->
          <center>
            <h4><span><span style="color: #CCC;"><i class="fa fa-info-circle"></i> Check </span><a rel="noopener" target="_blank" href="https://www.coingecko.com/en/coins/blackcoin" alt="">Markets Volume</a></span></h4>
          </center>
          <br>
        </div><!-- / .row -->
      </div><!-- / .container -->
    </div><!-- / .bg.overlay -->
  </div><!-- / .testimonials-parallax -->



  <!-- ========== Downloads ========== -->

  <div class="gray-bg">
    <section id="services" class="container section ft-boxed-hover">
      <div class="row">
        <header class="sec-heading">
          <a name="downloads">
            <h2>Downloads</h2>
          </a>
          <span class="subheading">BlackCoin official files</span>
        </header>
        <div class="row no-gap">
          <ul>
            <!-- Item 1 -->
            <li>
                {% image "./src/assets/images/more.png", "Blackcoin More Logo" %}
              <h3>MORE WALLET</h3>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Blackcoin More v2.13.2.8</span><br>
                <a  alt="Blackcoin More Website" href="https://blackcoinmore.org" >{% image "./src/assets/images/logo-more-bw-sm.png", "Blackcoin More" %}</a><br>
                <p class="pd-15px">The community supported wallet.</p>
              </div><!-- / .hover-content -->
            </li>
            <!-- Item 2 -->
            <li>
                {% image "./src/assets/images/mwallets.png", "Mobile Wallets" %}
              <h3>MOBILE WALLETS</h3>
              <div class="hover-content">
                <a href="https://coinomi.com/"><span>{% image "./src/assets/images/coinomi.png", "Coinomi Multicoin Wallet" %} </span></a><br>
                <a href="https://abra.com/"><span>{% image "./src/assets/images/abra-logo-white.svg", "Abra Multicoin Wallet"  %} </span></a><br>
              </div><!-- / .hover-content -->
            </li>

            <!-- Item 3 -->
            <li>
                {% image "./src/assets/images/blackhalo2.png", "Blackhalo Logo" %}
              <h3>BLACKHALO</h3>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Blackhalo</span><br>
                <a href="https://blackhalo.info/#section-call-to-actiontwo"><span>All platforms
                    downloads</span>{% image "./src/assets/images/blackhalo2.png", "Blackhalo Logo" %}</a><br>
              </div><!-- / .hover-content -->
            </li>
            <!-- Item 4 -->
            <li>
                {% image "./src/assets/images/original.png", "Blackcoin Logo" %}
              <h3>LEGACY WALLET</h3>
              <div class="hover-content">
                <br>
                <span style="color: #FFFFFF;">Legacy v1.2.x</span><br>
                <a href="https://gitlab.com/blackcoin/blackcoin/-/blob/master/README.md"><span>Gitlab Source
                    Code</span></span></a><br>
              </div><!-- / .hover-content -->
            </li>
          </ul>
        </div>
      </div><!-- / .row -->
    </section><!-- / .cotnainer -->
  </div><!-- / .gray-bg -->

  <!-- ====== Support BlackCoin ========== -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <br>
        <center><a name="support">
            <h3><span style="color: #ffffff;">Support BlackCoin</span></h3>
          </a></center>
        <br><br>
        <center>
          <h4>
            <!--<a href="bounties/">Bounties</a><span style="color: #A0A0A0;">&emsp; | &emsp;</span>--><a id="donation-link"
              href="donations/">Donations</a></h4>
          <center>
            <br><br>
          </center>
        </center>
      </div><!-- / .container -->
    </div><!-- / .dark-bg -->
  </div>

  <!-- Social Links -->
  <div class="testimonials-parallax">
    <div class="bg-overlay">
      <div class="container">
        <div class="container footer-social-links">
          <div class="row">
            <ul>
              <li><a href="https://bitcointalk.org/index.php?topic=3017838.new#new">Bitcointalk</a></li>
              <li><a href="https://discord.gg/hjNUgWD">Discord</a></li>
              <li><a href="https://webchat.freenode.net/?channels=%23blackcoin">IRC</a></li>
              <li><a href="https://twitter.com/BlackcoinOrg">BlackcoinOrg Twitter</a></li>
              <li><a href="https://facebook.com/BlackcoinOrg">BlackcoinOrg Facebook</a></li>
              <li><a href="https://t.me/blackcoinOrg">BlackcoinOrg Telegram</a></li>
              <li><a href="https://twitter.com/BlackcoinNL">BlackcoinNL Twitter</a></li>
              <li><a href="https://t.me/blackcoinNL">BlackcoinNL Telegram</a></li>
              <li><a href="https://keybase.io/team/blackcoin">Keybase</a></li>
            </ul>
          </div>
        </div><!-- / .container -->
      </div><!-- / .dark-bg -->
    </div>
  </div>